.container {
    background-color: rgba(148, 170, 179, 0.9);
    border-radius: 10%;
    border: 1px solid black;
    display: block;
    width: 15%;
    height: 14vw;
/*     position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) */
}

.contents {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.addedLabels {
    display: flex;
    flex-wrap: wrap;
}

.input {
    border: 2px solid rgb(87, 87, 174);
    margin: 0;
    width: 80%;
    height: 2vw;
    background-color: white;
    color: black;
}

.addButton {
    background-color: rgb(87, 87, 174);
    width: 80%;
    height: 2vw;
    color: white;
}

.addButton:hover {
    cursor: pointer;
}

.buttonDisabled {
    background-color: rgb(149, 149, 217);
    width: 80%;
    height: 2vw;
    color: white;
}

.editButton {
    width: 80%;
    height: 2vw;
    color: black;
}


.editButton:hover {
    background-color: rgb(219, 219, 222);
}

.editInput {
    width: 60%;
    height: 1.5vw;
    border: 2px dashed rgb(138, 138, 138);
    color: rgb(64, 64, 64);
    /* background-color: red; */
}

.editInput:hover {
    border: 2px dashed black;
}

.deleteButton {
    background-color: rgb(110, 110, 110);
    color: white;
    height: 80%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    margin: 0;
    padding: 0;
}

.deleteButton:hover {
    background-color: rgb(255, 98, 98);
    color: white;
    cursor: pointer;
}