.subtitle {
    width: 80%;
    font-weight: bold;
    font-size: 1vw;
    margin: 0.4vw 0;
}

.input {
    border: 2px solid #0073ea;
    margin: 0.5vw;
    width: 80%;
    height: 2vw;
    background-color: white;
    color: black;
}

.cancel {
    background-color: transparent;
    text-align: left;
    height: 2.2vw;
    border-radius: 5%;
}

.cancel:hover{
    cursor: pointer;
    background-color: rgb(200, 200, 205);
}

.invite {
    background-color: #0073ea;
    color: white;
    width: 80%;
    height: 2vw;
    margin-top: 0.5vw;
}

.invite:hover {
    cursor: pointer;
    background-color: #0060b9;
}

.inviteDisabled {
    background-color: rgb(149, 149, 217);
    color: white;
    width: 80%;
    height: 2vw;
    margin-top: 0.5vw;
}