.home-container {
  width: 100%;
  display: flex;
  max-height: 91vh;
  
  overflow: hidden;
  
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}
.home-explorer-and-layers-files {
  flex: 0 0 auto;
  max-width: 256px;
  height: 90vh;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-settings {
  width: 250px;
  height: auto;
  z-index: 20;
  overflow: auto;
  background-color: #f9f9f9
}

.container-main {
  width: 252px;
  overflow: auto;
  background-color: #f9f9f9;
}