.container {
    display: grid;
    grid-template-rows: auto auto;
}

.section {
    grid-row: 1/2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 1.5rem;
}

.cardsContainer {
    display: flex;
    flex-direction: column;
}

.filterContainer {
    gap: 1rem;
}

.filtersOff {
    cursor: pointer;
    background-color: transparent;
    padding: 5px;
}

.filtersOff:hover {
    background-color: rgba(128, 128, 128, 0.5);
    border-radius: 50%;
}