.componentsComunityContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 0 2%;
}
.imgIcons2{
    height: 20px;
    z-index: 1;
    border-radius: 50%;
}
.selectedCatContainer{
    display: flex;
    flex-direction: row;
    gap: 10px;
}