.codePanel {
    background-color: #fafafa;
    width: 71.2vw;
    height: 100vh;
    z-index: 100;
    position: fixed;
    top: 3.7rem;
    bottom: 0;
    left: 31.4vh;
}

.codePanelDisplay {
  display: none;
}

.containerOptions button {
  /* border: 2px solid blue; */
  cursor: pointer;
  font-weight: 600;
}

.languageOptions {
  display: flex;
  justify-content: space-between;
}

.btnGroupEditor {
  display: flex;
  justify-content: space-between;
}


button {
  background-color: transparent;

  margin: 0 2px 0 2px;
  padding: 5px;
}

.btnShowCode {
  border-bottom: 2px solid rgb(70, 160, 255);
}

.btnShowCss {
  border-bottom: 2px solid rgb(70, 160, 255);
}

.codeContentDisable {
  display: none;
}

.codeContentShow {
  display: block;
  width: 80%;
  height: 60vh;
  border: 0;
  outline: 0;
  margin: auto;
  padding: auto;
  margin-top: 15px;
}

.codeContentShowCss {
  display: block;
  width: 80%;
  height: 60vh;
  border: 0;
  outline: 0;
  margin: auto;
  padding: auto;
  margin-top: 15px;
}

.codeContentDisableCss {
  display: none;
}

.token {
  color: #6e0c81;
}

.background {
  background-color: #fafafa !important;
}