.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 10;
}

.modalContent {
    position: absolute;
    top: 16vh;
    left: 16vw;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    z-index: 100;
}

.list {
    display: flex;
    flex-direction: column;
    padding: 0 8px !important;
}
.listItem {
    width: 100%;
    padding: 8px;
}

.listItem:hover {
    padding: 8px;
    background-color: #36363660;
    border-radius: 4px;
    cursor: pointer;
}