.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-bottom: 0.5px solid var(--bg-gray);
    padding: 5px;
    overflow: auto;
    z-index: 100;
    font-size: 12px;
}

.projectTitle {
    font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
}

.folderIcon {
    font-size: 1rem;
    color: var(--folder);
}

.codeArrow {
    align-self: center;
}

.foldersTitle {
    margin-left: 20px;
    display: flex;
    align-items: center;
    font-size: 12px;
    padding: 8px;
    cursor: pointer;
    gap: 0.3rem;
}

.folderIcons {
    display: flex;
    align-items: center;
}

.directoryHeader {
    width: 100%;
    border-top: 2px solid #36363660;
    border-bottom: 2px solid #36363660;
    margin-top: 1.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.foldersList {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.foldersListItem {
    padding: 2px 10px;
    display: flex;
    align-items: center;
    gap: 0.2rem;

}

.foldersListItem:hover {
    background-color: #36363660;
    border-radius: 6px;
    padding: 2px 10px;
}

.pageFolder {
    display: flex;
    gap: 3px;
    align-items: center;
}

.newFolder {
    width: 4vw;
    border: solid 1px #36363660;
}

.codePlus {
    font-size: 1rem;
}

.codePlusButton {
    cursor: pointer;
}

.codePlusButton:hover {
    background-color: #36363660;
}

.jsxIcon {
    font-size: 1rem;
    color: #0a6ed1;
}

.fileWrapper {
    display: flex;
    align-items: center;
    gap: 0.2rem;
}