.searchBar{
    align-items: center;
    display: flex;
}
.inpNavbar{
    width: 200px;
    height: 30px;
    margin:1.3%;
    border-radius: 5px;
    border: 1px solid #B2B2B2;
}

.assets-manager-container3 {
    width: 240px;
    gap: 8px;
    height: 32px;
    display: flex;
    padding: 0px 8px;
    align-self: center;
    align-items: center;
    border-radius: 4px;
    flex-direction: row;
    border-width: 1px;
    border-style: solid;
    border-color: #b2b2b2;
}
.m-top-1{
    margin-top: 1rem !important;
}

.assets-manager-icon {
    fill: #b2b2b2;
    width: 24px;
    height: 24px;
}

.assets-manager-textinput {
    color: #000000;
    width: 195px;
    border: none;
    height: 100%;
    font-style: italic;
    padding-top: 4px;
    padding-left: 8px;
    border-radius: 4px;
    padding-right: 8px;
    padding-bottom: 4px;
    background-color: transparent;
    outline: none;
}