.shadow-container {
  width: 250px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 5px 0px 5px 10px;
}

.shadow-container1 {
  width: 250px;
  border-bottom: 0.5px solid #f0f0f0;
}

.shadow-component-header {
  width: 226px;
  height: 40px;
  display: flex;
  align-items: center;
  padding-top: 4px;
  flex-direction: row;
  padding-bottom: 4px;
  justify-content: space-between;
  font-weight: 500;
}

.shadow-title {
  font-weight: 500;
  font-size: 12px;
}

.shadow-icon {
  width: 14px;
  height: 14px;
}

.shadow-icon02 {
  width: 14px;
  height: 14px;
}

.shadow-container02 {
  flex: 0 0 auto;
  width: 226px;
  height: auto;
  display: flex;
  align-items: center;
  padding-right: 8px;
  padding-bottom: 8px;
  justify-content: space-between;
}

.shadow-container03 {
  gap: 16px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.shadow-text {
  font-size: 12px;
}

.shadow-text01 {
  font-size: 12px;
  align-self: center;
  color: #565656;
  width: 60px;
  text-align: inherit;
  border: none;
  outline: none;
  background-color: #F9F9F9;
}

.shadow-text01:hover {
  border-bottom: 1px solid #00bcd4;
}

.shadow-container04 {
  flex: 0 0 auto;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: flex-start;
  border: 2px dashed #000;
  border-shadow: 2px;
  flex-direction: column;
}

.shadow-container05 {
  gap: 8px;
  width: 250px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  border-bottom: 0.5px solid #f0f0f0;
}

.shadow-component-header1 {
  width: 226px;
  height: 40px;
  display: flex;
  align-items: center;
  padding-top: 4px;
  flex-direction: row;
  padding-bottom: 4px;
  justify-content: space-between;
  font-weight: 500;
}

.shadow-title1 {
  font-size: 12px;
}

.shadow-icon04 {
  width: 14px;
  height: 14px;
  display: none;
}

.shadow-icon06 {
  width: 14px;
  height: 14px;
}

.shadow-container06 {
  flex: 0 0 auto;
  width: 226px;
  height: auto;
  display: flex;
  align-items: flex-end;
  padding-bottom: 8px;
  justify-content: space-between;
}

.shadow-color-input {
  display: flex;
  width: 26px;
  height: 26px;
  border-shadow: 4px;
  border: none;
}

.shadow-container08 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.shadow-text02 {
  font-size: 10px;
  align-self: center;
  color: #565656;
  width: 20px;
  text-align: center;
  border: none;
  outline: none;
  background-color: #F9F9F9;
}

.shadow-text02:hover {
  border-bottom: 1px solid #00bcd4;
}

.shadow-text03 {
  font-size: 10px;
}

.shadow-container09 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.shadow-text04 {
  font-size: 10px;
}

.shadow-text05 {
  font-size: 10px;
}

.shadow-container10 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.shadow-text06 {
  font-size: 10px;
}

.shadow-text07 {
  font-size: 10px;
}

.shadow-container11 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.shadow-text08 {
  font-size: 10px;
}

.shadow-text09 {
  font-size: 10px;
}

.shadow-icon08 {
  width: 16px;
  fill: #565656;
}
