.video-settings-video-settings {
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  cursor: default;
  border-bottom: 0.5px solid #f0f0f0;
  font-size: 12px;
}

.video-settings-container {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding-left: 8px; */
  &:hover {
    background-color: #f0f0f0;
  }
}

.video-settings-clear {
  width: 16px;
  height: 16px;
  fill: '#b2b2b2';
  &:hover {
    cursor: pointer;
  }
}

.video-settings-container01 {
  gap: 8px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  /* padding-right: 8px; */
  flex-direction: row;
  justify-content: flex-start;
}

.video-settings-source-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.video-settings-src-container {
  gap: 59px;
  flex: 0 0 auto;
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  padding-left: 8px;
  justify-content: flex-start;
}

.video-settings-container02 {
  display: flex;
  align-items: flex-start;
}

.video-settings-textinput {
  width: 100px;
  border: none;
  outline: none;
  transition: 0.3s;
  border-bottom: 0.5px solid transparent;
  background-color: transparent;
}

.video-settings-textinput:focus {
  border-bottom-color: #14a9ff;
}

.video-settings-poster-container {
  gap: 39px;
  flex: 0 0 auto;
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  padding-left: 8px;
  justify-content: flex-start;
}

.video-settings-container03 {
  display: flex;
  align-items: flex-start;
}

.video-settings-textinput1 {
  width: 100px;
  border: none;
  outline: none;
  transition: 0.3s;
  border-bottom: 0.5px solid transparent;
  background-color: transparent;
}

.video-settings-textinput1:focus {
  border-bottom-color: #14a9ff;
}

.video-settings-thumbail {
  width: 30px;
  height: 30px;
  margin-top: 8px;
  object-fit: cover;
  border-radius: 4px;
}

.video-settings-container04 {
  flex: 0 0 auto;
  width: 112px;
  height: 30px;
  display: flex;
  align-items: center;
  padding-left: 8px;
  justify-content: space-between;
}

.video-settings-container05 {
  flex: 0 0 auto;
  width: 30px;
  height: 14px;
  display: flex;
  align-items: center;
  padding-top: 3px;
  border-color: #b2b2b2;
  border-style: solid;
  border-width: 0.5px;
  padding-left: 3px;
  border-radius: 20px;
  padding-right: 3px;
  padding-bottom: 3px;
  background-color: rgba(233, 233, 233, 0.8);
}

.video-settings-container06 {
  flex: 0 0 auto;
  width: 12px;
  height: 12px;
  display: flex;
  align-items: flex-start;
  border-radius: 50%;
  background-color: #f9f9f9;
}

.video-settings-container07 {
  flex: 0 0 auto;
  width: 112px;
  height: 30px;
  display: flex;
  align-items: center;
  padding-left: 8px;
  justify-content: space-between;
}

.video-settings-container08 {
  transition: 0.5s;
  flex: 0 0 auto;
  width: 30px;
  height: 14px;
  display: flex;
  align-items: center;
  padding-top: 3px;
  border-color: #b2b2b2;
  border-style: solid;
  border-width: 0.5px;
  padding-left: 3px;
  border-radius: 20px;
  padding-right: 3px;
  padding-bottom: 3px;
  background-color: rgba(233, 233, 233, 0.8);
}

.video-settings-container09 {
  flex: 0 0 auto;
  width: 12px;
  height: 12px;
  display: flex;
  align-items: flex-start;
  border-radius: 50%;
  background-color: #f9f9f9;
}

.video-settings-container10 {
  flex: 0 0 auto;
  width: 112px;
  height: 30px;
  display: flex;
  align-items: center;
  padding-left: 8px;
  justify-content: space-between;
}

.video-settings-container11 {
  transition: 0.5s;
  flex: 0 0 auto;
  width: 30px;
  height: 14px;
  display: flex;
  align-items: center;
  padding-top: 3px;
  border-color: #b2b2b2;
  border-style: solid;
  border-width: 0.5px;
  padding-left: 3px;
  border-radius: 20px;
  padding-right: 3px;
  padding-bottom: 3px;
  background-color: rgba(233, 233, 233, 0.8);
}

.video-settings-container12 {
  flex: 0 0 auto;
  width: 12px;
  height: 12px;
  display: flex;
  align-items: flex-start;
  border-radius: 50%;
  background-color: #f9f9f9;
}

.video-settings-container13 {
  flex: 0 0 auto;
  width: 112px;
  height: 30px;
  display: flex;
  align-items: center;
  padding-left: 8px;
  justify-content: space-between;
}

.video-settings-container14 {
  transition: 0.5s;
  flex: 0 0 auto;
  width: 30px;
  height: 14px;
  display: flex;
  align-items: center;
  padding-top: 3px;
  border-color: #b2b2b2;
  border-style: solid;
  border-width: 0.5px;
  padding-left: 3px;
  border-radius: 20px;
  padding-right: 3px;
  padding-bottom: 3px;
  background-color: rgba(233, 233, 233, 0.8);
}

.video-settings-container15 {
  flex: 0 0 auto;
  width: 12px;
  height: 12px;
  display: flex;
  align-items: flex-start;
  border-radius: 50%;
  background-color: #f9f9f9;
}

.video-settings-container16 {
  flex: 0 0 auto;
  width: 112px;
  height: 30px;
  display: flex;
  align-items: center;
  padding-left: 8px;
  justify-content: space-between;
}

.video-settings-container17 {
  transition: 0.5s;
  flex: 0 0 auto;
  width: 30px;
  height: 14px;
  display: flex;
  align-items: center;
  padding-top: 3px;
  border-color: #b2b2b2;
  border-style: solid;
  border-width: 0.5px;
  padding-left: 3px;
  border-radius: 20px;
  padding-right: 3px;
  padding-bottom: 3px;
  background-color: rgba(233, 233, 233, 0.8);
}

.video-settings-container18 {
  flex: 0 0 auto;
  width: 12px;
  height: 12px;
  display: flex;
  align-items: flex-start;
  border-radius: 50%;
  background-color: #f9f9f9;
}

.video-settings-preload-container {
  gap: 32px;
  flex: 0 0 auto;
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  padding-left: 8px;
  justify-content: flex-start;
}

.video-settings-container19 {
  display: flex;
  align-items: center;
}

.video-settings-open {
  width: 16px;
  height: 16px;
  fill: '#b2b2b2';
}

.video-settings-container20 {
  flex: 0 0 auto;
  left: 82px;
  width: 130px;
  bottom: -77px;
  height: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  padding-top: 2px;
  border-radius: 4px;
  flex-direction: column;
  padding-bottom: 2px;
  background-color: #fff;
}

.video-settings-container21 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding-top: 2px;
  padding-left: 16px;
  border-radius: 4px;
  padding-bottom: 2px;
  background-color: #fff;
}

.video-settings-container21:hover {
  color: #fff;
  background-color: #595959;
}

.video-settings-container22 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding-top: 2px;
  padding-left: 16px;
  border-radius: 4px;
  padding-bottom: 2px;
  background-color: #fff;
}

.video-settings-container22:hover {
  color: #fff;
  background-color: #595959;
}

.video-settings-container23 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding-top: 2px;
  padding-left: 16px;
  border-radius: 4px;
  padding-bottom: 2px;
  background-color: #fff;
}

.video-settings-container23:hover {
  color: #fff;
  background-color: #595959;
}

.video-settings-title {
  font-weight: 500;
}
