.tableContainer {
  margin: 1%;
  display: flex;
  flex-grow: 4;
  flex-basis: 80%;
  justify-content: center;
  background-color: #ffffff;
  overflow: auto;
}
.table {
  border-collapse: collapse;
  width: 100%;
}

/* .scrollBar {
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: blue;
  height: 800px; 
  width: 1600px; 
}

.scrollBar::-webkit-scrollbar {
  width: 10px; 
}

.scrollBar::-webkit-scrollbar-thumb {
  background-color: blue; 
} */


/* .table th,
.table td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
} */

@media screen and (max-width: 767px) {
  .table {
    font-size: 80%;
  }

  .table th,
  .table td {
    padding: 6px;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
  }
}
