.tableContainer {
  display: flex;
  flex-grow: 4;
  flex-basis: 80%;
  justify-content: center;
  background-color: #ffffff;
}
.table {
  border-collapse: collapse;
  width: 100%;
  margin: 10px;
}

.scrollBar {
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: blue;
  height: 200px; /* Ajusta la altura deseada del contenedor */
  width: 100%; /* Ajusta el ancho deseado del contenedor */
}

.scrollBar::-webkit-scrollbar {
  width: 10px; /* Ancho de la barra de desplazamiento */
}

.scrollBar::-webkit-scrollbar-thumb {
  background-color: blue; /* Color del pulgar (scrollbar thumb) */
}
/* .table th,
.table td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
} */

@media screen and (max-width: 767px) {
  .table {
    font-size: 80%;
  }

  .table th,
  .table td {
    padding: 6px;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
  }
}
