.tag-container {
  gap: 8px;
  width: auto;
  height: auto;
  max-height: 30px;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 8px 16px;
  border-radius: 20px;
  background-color: #D9D9D9;
}
.tag-image {
  width: 12px;
  max-width: 12px;
  height: 12px;
  max-height: 12px;
  object-fit: cover;
}
.tag-text {
  font-size: 12px;
  font-family: Arial;
}
.tag-image-big {
  width: 16px;
  max-width: 16;
  height: 16px;
  max-height: 16px;
  object-fit: cover;
}
.tag-text-big {
  font-size: 16px;
  font-family: Arial;
}
