.properties-container {
  width: 100%;
  height: auto;
  display: flex;
  padding: 8px 0px;
  position: relative;
  align-items: flex-start;
  border-bottom: 0.5 solid #f0f0f0;
  flex-direction: column;
}
.properties-header {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  padding: 4px 0px;
  align-items: center;
  justify-content: space-between;
}
.properties-heading {
  font-size: 14px;
}
.properties-icon {
  width: 14px;
}
