.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 350px;
  align-items: start;

  & h4 {
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
  }
}

.container_flex_column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
  width: 100%;

  & input {
    padding: 10px;
    border: gray 1px solid;

    &:focus-visible {
      outline: none;
      border-width: 2px;
    }
  }
  & label {
    font-size: 12px;
  }
  & a {
    font-size: 12px;
  }
}

.container_flex_row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
