.folder-menu-context-menu {
    gap: 8px;
    flex: 0 0 auto;
    height: auto;
    display: flex;
    z-index: 1000;
    position: absolute;
    box-shadow: 0px 5px 10px 0px #d4d4d4;
    align-items: flex-start;
    padding-top: 8px;
    padding-left: 0px;
    border-radius: 4px;
    flex-direction: column;
    padding-bottom: 8px;
    background-color: #f9f9f9;
}

.context-menu-container {
    gap: 4px;
    width: 100%;
    display: flex;
    align-items: flex-start;

    flex-direction: column;
}

.context-menu-containerHover {
    display: flex;
    align-items: center;
    height: 21px;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
}

.context-menu-containerHover:hover {
    background-color: #bcbcbc;
    cursor: pointer;
}

.context-menu-options * {
    padding-left: 3px;
}

.context-menu-option-name {
    font-size: 10px;
}

.context-menu-container01 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 21px;
    padding-left: 16px;
    padding-right: 16px;
}

.context-menu-container01:hover {
    background-color: #bcbcbc;
    cursor: pointer;
}

.context-menu-text {
    color: #595959;
    font-size: 10px;
    font-style: normal;
    font-weight: 300;
    align-items: flex-end;
}

.context-menu-container02 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 21px;
    padding-left: 16px;
    padding-right: 16px;
}

.context-menu-container02:hover {
    background-color: #bcbcbc;
    cursor: pointer;
}

.context-menu-text1 {
    color: #595959;
    font-size: 10px;
    font-style: normal;
    font-weight: 300;
}

.context-menu-container03 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 21px;
    padding-left: 16px;
    padding-right: 16px;
}

.context-menu-container03:hover {
    background-color: #bcbcbc;
    cursor: pointer;
}

.context-menu-text2 {
    color: #595959;
    font-size: 10px;
    font-style: normal;
    font-weight: 300;
}


.context-menu-container04 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 21px;
    padding-left: 16px;
    padding-right: 16px;
}

.context-menu-container04:hover {
    background-color: #bcbcbc;
    cursor: pointer;
}

