.sidebar-icons-container {
  width: auto;
  height: 91.15vh;
  display: flex;
  position: relative;
  flex-direction: row;
  cursor: default;
  z-index: 20;
}
.sidebar-icons-menubar {
    width: 48px;
    position: relative;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: #f0f0f0;
    display: flex;
    height: 91vh;
    flex-direction: column;
    justify-content: space-between;
}
.sidebar-icons-container01 {
  gap: 24px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.sidebar-icons-container02 {
  width: 100%;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: 45% auto;
  background-position: center center;
  flex-direction: row;
  justify-content: flex-start;
}
.sidebar-icons-container03 {
  flex: 0 0 auto;
  width: 2px;
  height: 36px;
  display: flex;
  align-items: flex-start;
  background-color: transparent;
}
.sidebar-icons-icon {
  fill: #b2b2b2;
  width: 24px;
  height: 24px;
}
.sidebar-icons-container04 {
  gap: 11px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.sidebar-icons-container05 {
  fill: #808080;
  flex: 0 0 auto;
  width: 2px;
  height: 36px;
  display: flex;
  align-items: flex-start;
}
.sidebar-icons-icon02 {
  width: 24px;
  height: 24px;
}
.sidebar-icons-container06 {
  width: 100%;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: 55% auto;
  background-position: center center;
  flex-direction: row;
  justify-content: flex-start;
}
.sidebar-icons-container07 {
  flex: 0 0 auto;
  width: 2px;
  height: 36px;
  display: flex;
  align-items: flex-start;
  background-color: transparent;
}
.sidebar-icons-container08 {
  width: 25px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.sidebar-icons-icon04 {
  top: -10px;
  fill: #b2b2b2;
  width: 24px;
  height: 24px;
  position: absolute;
  align-self: center;
}
.sidebar-icons-container09 {
  width: 30px;
  height: 20px;
  display: flex;
  position: relative;
  align-items: center;
  border-color: #b2b2b2;
  border-style: solid;
  border-width: 0.5px;
  border-radius: 4px;
  flex-direction: column;
  justify-content: center;
  background-color: #f9f9f9;
  font-weight: 500px;
}
.sidebar-icons-text {
  color: #b2b2b2;
  letter-spacing: 1px;
  font-size: 8px;
}
.sidebar-icons-container10 {
  gap: 11px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.sidebar-icons-container11 {
  flex: 0 0 auto;
  width: 2px;
  height: 36px;
  display: flex;
  align-items: flex-start;
  background-color: transparent;
}
.sidebar-icons-icon06 {
  fill: #b2b2b2;
  width: 24px;
  height: 24px;
}
.sidebar-icons-container12 {
  gap: 24px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.sidebar-icons-icon10 {
  fill: #b2b2b2;
  width: 24px;
  height: 24px;
}
.sidebar-icons-icon10:active {
  fill: #363636;
}
.sidebar-icons-image {
  width: 24px;
  height: 24px;
  object-fit: cover;
}
.sidebar-icons-image:active {
  background-color: #363636;
}
.sidebar-icons-container13 {
  gap: 11px;
  width: 60px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
}
.sidebar-icons-container14 {
  flex: 0 0 auto;
  width: 5px;
  height: 36px;
  display: flex;
  align-items: flex-start;
  background-color: transparent;
}
.sidebar-icons-icon12 {
  fill: #b2b2b2;
  width: 24px;
  height: 24px;
}

.sidebar-icons-showpanel {
  width: 256px;
  z-index: 20;
  background-color: #f9f9f9;
  display: flex;
  flex: 0 0 auto;
  height: 91vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;

}
.sidebar-icons-container15 {
  width: 256px;
  z-index: 20;
  background-color: #f9f9f9;
  display: flex;
  height: 86vh;
  overflow-y: auto;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  
}

.sidebar-icons-container16 {
  gap: -4px;
  width: auto;
  display: flex;
  position: relative;
  align-self: flex-end;
  align-items: center;
  margin-right: 8px;
  margin-bottom: 8px;
  flex-direction: row;
  justify-content: flex-end;
}
.sidebar-icons-icon14 {
  fill: #b2b2b2;
  width: 10px;
  height: 10px;
}
.sidebar-icons-icon16 {
  fill: #b2b2b2;
  width: 26px;
  height: 26px;
}
