.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.104);
  width: 100vw;
  gap: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 90%;
  max-width: 30%;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 30px;
  min-width: 375px;
}
.form__group {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}

.form__submit {
  padding: 15px 10px;
  letter-spacing: 2px;
  font-weight: 700;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.5);
  transition: all 0.2s linear;
  &:hover {
    cursor: pointer;
    background-color: black;
    color: white;
  }
  &:active {
    background-color: white;
    color: black;
  }
}
