.contentinfo {
    color: #1c293b;
    font-weight: 400!important;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    display: block;
    text-align: center;
        position: inherit;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-top: 50px;
}

.csh-footer-ask-footer{
    color: #1c293b;
    text-align: center;
    font-weight: 400!important;
    margin: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    border-top: 1px solid #e5e9ef;
    padding: 58px 0;
}

.csh-wrapper-footer {
    color: #1c293b;
    text-align: center;
    font-weight: 400!important;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    width: 940px;
    max-width: 940px;
    margin: 0 auto;
    display: flex;
}

.csh-footer-ask-text-footer{
    color: #1c293b;
    font-weight: 400!important;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    text-align: left;
    margin-top: -3px;
    -webkit-box-flex: 1;
    flex: 1;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
}

.csh-footer-ask-text-title-footer{
    text-align: left;
    -webkit-box-direction: normal;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    font-family: "Crisp Graphik Bold",sans-serif;
    font-weight: 900!important;
    hyphens: auto;
    overflow-wrap: break-word;
    color: #1c293b;
    font-size: 19.8px;
    line-height: 24px;
    letter-spacing: .2px;
}

.csh-footer-ask-text-label-footer{
    text-align: left;
    -webkit-box-direction: normal;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    font-family: "Crisp Graphik Regular",sans-serif;
    font-weight: 400!important;
    hyphens: auto;
    overflow-wrap: break-word;
    color: #37516c;
    font-size: 14.85px;
    letter-spacing: .1px;
    margin-top: 14px;
}

.csh-footer-ask-buttons-footer {
    color: #1c293b;
    text-align: center;
    font-weight: 400!important;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    list-style: none;
    display: flex;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
}

.csh-button-footer {
    list-style: none;
    -webkit-box-direction: normal;
    font: inherit;
    vertical-align: baseline;
    outline: 0!important;
    text-decoration: none;
    font-family: "Crisp Graphik Regular",sans-serif;
    font-weight: 400!important;
    border: 1px solid rgba(0,0,0,.1);
    font-size: 13.05px;
    line-height: 41px;
    letter-spacing: .15px;
    overflow: hidden;
    cursor: pointer;
    height: 44px;
    padding: 0 25px;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.08);
    transition: all .15s linear;
    transition-property: border-color,box-shadow,transform;
    background-color: #2a77e2;
    padding-left: 20px;
    color: #fff;
    margin: 0 7px;
}

.csh-button-icon-email-footer{
    list-style: none;
    -webkit-box-direction: normal;
    font: inherit;
    vertical-align: baseline;
    outline: 0!important;
    text-decoration: none;
    font-family: "Crisp Graphik Regular",sans-serif;
    font-weight: 400!important;
    border: 1px solid rgba(0,0,0,.1);
    font-size: 13.05px;
    line-height: 41px;
    letter-spacing: .15px;
    overflow: hidden;
    cursor: pointer;
    height: 44px;
    padding: 0 25px;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.08);
    transition: all .15s linear;
    transition-property: border-color,box-shadow,transform;
    background-color: #2a77e2;
    padding-left: 20px;
    color: #fff;
    margin: 0 7px;
    margin-right: 0;
}

.csh-footer-copyright-footer{
    text-align: center;
    font-weight: 400!important;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    color: #37516c;
    border-top: 0 none;
}

li{
    color: #1c293b;
    list-style: none;
    -webkit-box-direction: normal;
    font-weight: 400!important;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    display: inline-block;
}