.publish-container {
  gap: 24px;
  /* width: 481px; */
  /* max-width: 650px; */
  /* width: 400px; */
  height: auto;
  display: inline-flex;
  padding: 28px 24px;
  position: absolute;
  align-items: flex-start;
  /* border-color: #b2b2b2; */
  /* border-style: solid; */
  /* border-width: 1px; */
  /* border-style: solid; */
  border-radius: 4px;
  flex-direction: column;
  z-index: 98;
  top: 50px;
  right: 15px;
  background: #fefefe;
}
.publish-text {
  color: #282828;
  /* font-family: Inter; */
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.publish-container01 {
  /* gap: 4px; */
  /* flex: 0 0 auto; */
  /* width: 100%; */
  /* height: auto; */
  display: flex;
  align-items: flex-start;
  /* padding-top: 4px; */
  /* border-color: #b2b2b2; */
  /* border-style: solid; */
  /* border-width: 1px; */
  /* padding-left: 5px; */
  /* border-radius: 4px; */
  /* padding-right: 5px; */
  /* padding-bottom: 4px; */
  gap: 4px;
  padding: 4px;
  /* width: 600px; */
  height: 58px;
  border-radius: 4px;
  border: 1px solid #e8e8e8;
}
.publish-button {
  width: 295px;
  height: 100%;
  flex-shrink: 0;
  border-radius: 2px;
  background: #f9f9f9;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  cursor: pointer;
  transition: all 0.2s linear;
  &:hover {
    background-color: #ebebeb;
  }
}
.publish-icon {
  fill: #0093ed;
  width: 20px;
  height: 20px;
}
.publish-text01 {
  color: #2e2d2d;
  font-size: 12px;
}

.publish-icon2 {
  width: 20px;
  height: 20px;
}
.publish-text02 {
  font-size: 12px;
}
.publish-container02 {
  width: 600px;
  height: 81px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
  background: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
  padding: 15px;
}
.publish-container03 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.publish-textinput {
  /* color: #fff; */
  width: 13px;
  height: 13px;
  border-radius: 4px;
  border: 1px solid #cbcbcb;
  /* background-color: #d4d4d4; */
  cursor: pointer;
}
.publish-text03 {
  color: #000;
  /* font-family: Inter; */
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.publish-icon4 {
  width: 12px;
  height: 12px;
  fill: #5865f2;
}
.publish-container04 {
  width: 430px;
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.publish-container05 {
  gap: 4px;
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.publish-icon6 {
  fill: #4f5660;
  width: 7px;
  height: 10px;
}
.publish-text04 {
  color: #4f5660;
  /* font-family: Inter; */
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.publish-container06 {
  gap: 4px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.publish-text05 {
  color: #5865f2;
  /* font-family: Inter; */
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.publish-container07 {
  flex: 0 0 auto;
  width: 8px;
  height: 8px;
  display: flex;
  align-items: flex-start;
  border-radius: 50%;
  flex-direction: column;
  background-color: #d9d9d9;
}
.publish-container08 {
  gap: 8px;
  flex: 0 0 auto;
  width: 448px;
  height: auto;
  display: flex;
  padding: 8px;
  align-items: flex-start;
  border-radius: 4px;
  flex-direction: column;
  background-color: #d4d4d4;
}
.publish-container09 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.publish-textinput1 {
  color: #fff;
  width: 15px;
  height: 15px;
  border-color: #000;
  border-style: solid;
  background-color: #d4d4d4;
}
.publish-text06 {
  color: #2e2d2d;
  font-size: 12px;
}
.publish-container10 {
  width: 430px;
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.publish-text07 {
  color: #2e2d2d;
  font-size: 12px;
}
.publish-button2 {
  display: flex;
  width: 92px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: #0074ef;
  color: white;
  cursor: pointer;
}
.publish-container11 {
  gap: 8px;
  flex: 0 0 auto;
  width: 448px;
  height: auto;
  display: none;
  padding: 8px;
  align-items: flex-start;
  border-radius: 4px;
  flex-direction: column;
  background-color: #d4d4d4;
}
.publish-container12 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.publish-textinput2 {
  color: #fff;
  width: 15px;
  height: 15px;
  border-color: #000;
  border-style: solid;
  background-color: #d4d4d4;
}
.publish-text08 {
  color: #fff;
  font-size: 12px;
}
.publish-container13 {
  width: 430px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.publish-text09 {
  color: #fff;
  font-size: 12px;
}
.publish-button3 {
  color: #fff;
  font-size: 12px;
  padding-top: 4px;
  border-color: #fff;
  border-style: solid;
  padding-left: 8px;
  border-radius: 4px;
  padding-right: 8px;
  padding-bottom: 4px;
  background-color: transparent;
  border-top-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
}
.publish-button4 {
  display: flex;
  width: 100%;
  padding: 13px 272px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: #0074ef;
  color: white;
  cursor: pointer;
}
