
.cardContainer {
    margin-bottom: 17px;
    border: 1px solid #dbdbdb;
    height: 50vh;
    overflow: hidden;
    border-radius: 6px;
}

.postalImg{
    width: 100%;
    background-size: cover;
    height: 150px;
}

.imgProgect{
    width: 296px;
    height: 143px;
    flex-shrink: 0;
}

.userData{
    display: flex;
    width: 100%;
    padding: 2%;
    align-items: center;

}
.imgProfile{
    width: 40px;
    height: 39.922px;
    flex-shrink: 0;
    fill: lightgray 50% / cover no-repeat;
}
.userName{
    font-size: 15px;
}
.textContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}
.projectName{
    margin: 0;
    color: #060607;
    /* font-family: Whinthey; */
    font-size: 18.211px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.819px;
}

.guild {
    display: flex;
    width: 200px;
    margin-left: 8%;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 3px;
}

.membercold{
    display: flex;
    width: 253px;
    align-items: flex-start;
    gap: 15px;
}

.descriptionComponent{
    color: #747F8D;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 117.6%;
}

.categoriesCard{
    height: 20px;
    z-index: 1;
    border-radius: 50%;
}

.categoriesCardContainer{
    display: flex;
    flex-direction: row;
    gap: 5px;
}