.editInput {
    width: 80%;
    height: 1.5vw;
    border: 2px dashed rgb(138, 138, 138);
    color: rgb(64, 64, 64);
}

.editInput:hover {
    border: 2px dashed black;
}

.blockedButton {
    background-color: rgb(190, 190, 190);
    color: white;
    height: 80%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin: 0;
    padding: 0;
}


.deleteButton {
    background-color: rgb(110, 110, 110);
    color: white;
    height: 80%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin: 0;
    padding: 0;
}

.deleteButton:hover {
    background-color: rgb(255, 98, 98);
    color: white;
    cursor: pointer;
}