.project-settings-container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  overflow: auto;
  flex: 1 1 0%;
}

.project-settings-header-container {
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  justify-content: space-between;
  max-width: 1000px;
}

.project-settings-text-container {
  display: flex;
  flex-direction: column;
}

.project-settings-open-button {
  font-size: 14px;
  font-family: Arial;
  padding-left: 16px;
  padding-right: 16px;
  background-color: transparent;
  border: 1px solid #999999;
  color: #363636;
  align-items: center;
  height: 32px;
  border-radius: 4px;
}

.project-settings-open-button:hover {
  color: black;
  border-color: black;
}

.project-settings-main-container1 {
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
  padding: 0px 64px;
  position: relative;
  overflow: auto;
}

.project-settings-main-container2 {
  flex: 1 1 0%;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  max-width: 1000px;
}

.project-settings-main-container3 {
  width: 100%;
}

.project-settings-main-container4 {
  display: flex;
  height: 100%;
}

.project-settings-main-container5 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.project-settings-options-container {
  height: 70vh;
  width: 200px;
  /* margin-right: 64px; */
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  overflow: auto;
}

.project-settings-ul {
  width: 254px;
  height: auto;
  margin: 0px;
  padding: 0px;
}

.project-settings-li {
  list-style: none;
  line-height: 2;
  padding: 4px 8px;
  display: flex;
  border-radius: 4px;
  cursor: default;
  text-transform: capitalize;
  white-space: nowrap;
  margin-top: 8px;
}

.project-settings-li:hover {
  background-color: #f2f2f2;
  color: black;
  font-weight: 500;
  cursor: pointer;
}

.selected {
  background-color: #f2f2f2;
  padding-left: 8px;
  font-weight: 500;
}

.project-settings-selected-container {
  padding: 10px;
  flex: 0 0 auto;
  width: 73%;
  height: 70vh;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  overflow-y: auto;
}

.proyect-settings-crumbs-container {
  gap: 8px;
  display: flex;
  width: auto;
  height: auto;
  font-size: 14px;
  color: #999999;
}

.project-settings-header-container-main {
  padding: 64px 64px 16px;
  position: relative;
}
.workspace-settings-textlink-settings {
  text-decoration: none;
  color: #efef00;
  display: flex;
}
.workspace-settings-textname-project {
  color: #f27a05;
}
.projects-settings-title {
  font-size: 20px;
  font-weight: 600;
}

.project-settings-title {
  font-size: 12px;
  line-height: 2;
  padding: 4px 8px;
  font-weight: 500;
}

.project-settings-text {
  font-size: 14px;
}
