.samples-container {
  gap: 16px;
  width: 256px;
  height: auto;
  display: flex;
  padding: 16px;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.samples-container1 {
  width: 224px;
  height: 100px;
  display: flex;
  align-items: center;
  border-color: #000;
  border-style: dashed;
  border-width: 1px;
  justify-content: center;
}
