.main-content-container {
  gap: 16px;
  width: 80%;
  height: 100%;
  align-items: flex-start;
  padding: 0% 0% 0 5%;
  flex-direction: column;
  cursor: default;
  overflow: scroll;
  margin-top: 50px;
  margin-left: 0%;
}

.main-content-container01 {
  width: 100%;
  display: flex;
  align-items: flex-end;
  padding-right: 32px;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  display: flex;
  align-items: flex-end;
  padding-right: 2%;
  flex-direction: row;
  justify-content: space-between;
}

.main-content-container02 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.main-content-container03 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  font-size: 14px;
}

.main-content-button {
  cursor: pointer;
  margin-left: 5px;
  color: #fff;
  border-radius: 4px;
  background-color: #363636;
  padding: 8px 16px;
  font-size: 14px;
  border: 1px solid #ddd;
}

.main-content-button-meet {
  cursor: pointer;
  margin-left: 5px;
  color: #fff;
  border-radius: 4px;
  background-color: rgb(105, 155, 249);
  padding: 8px 16px;
  font-size: 14px;
  border: 1px solid #ddd;
}

.main-content-button-notactive {
  color: #fff;
  border-radius: 4px;
  background-color: #696969;
  padding: 8px 16px;
  font-size: 14px;
}

.disabled {
  visibility: hidden;
}

.main-content-container04 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-right: 32px;
  flex-direction: row;
  justify-content: space-between;
  /*   margin-top: 80px; */
}

.main-content-container05 {
  /* flex: 0 0 auto;
  width: 300px;
  height: 32px;
  display: flex;
  align-items: center;
  border-color: #000;
  border-style: solid;
  border-width: 0.5px;
  border-radius: 8px;
  justify-content: space-between;
  padding-left: 16px; */
  flex: 0 0 auto;
  width: 40%;
  height: 32px;
  display: flex;
  align-items: center;
  border-color: #000;
  border-style: solid;
  border-width: 0.5px;
  border-radius: 8px;
  justify-content: space-between;
  padding-left: 2%;
}

.main-content-text1 {
  width: 100%;
  border: none;
  outline: none;
  font-style: italic;
  font-weight: 300;
  font-size: 14px;
}

.main-content-button1 {
  width: auto;
  height: 100%;
  display: flex;
  border-width: 0px;
  border-radius: 8px;
  flex-direction: row;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  align-items: center;
  cursor: pointer;
}

.main-content-icon {
  width: 18px;
  height: auto;
}

.main-content-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border: none;
  visibility: hidden;
}

.main-content-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 8px;
  padding-left: 16px;
  border-radius: 5px;
  padding-right: 16px;
  padding-bottom: 8px;
}

.main-content-text2 {
  font-size: 14px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  margin-right: 4px;
  vertical-align: middle;
  padding: 16px;
}

.main-content-dropdown-arrow {
  transition: 0.3s;
}

.main-content-icon2 {
  width: 18px;
  height: 18px;
  margin-top: auto;
  transition: 0.3s;
  margin-bottom: auto;
}

.main-content-dropdown-list {
  left: 0%;
  width: max-content;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-width: 1px;
  flex-direction: column;
  list-style-type: none;
  background-color: #fff;
  list-style-position: inside;
}

.main-content-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 5px;
}

.main-content-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: 8px;
  padding-left: 16px;
  border-radius: 10px;
  padding-right: 16px;
  padding-bottom: 8px;
}

.main-content-dropdown-toggle1:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}

.main-content-created {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}

.main-content-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.main-content-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: 8px;
  padding-left: 16px;
  border-radius: 10px;
  padding-right: 16px;
  padding-bottom: 8px;
}

.main-content-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}

.main-content-date {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}

.main-content-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.main-content-dropdown-toggle3 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: 8px;
  padding-left: 16px;
  border-radius: 10px;
  padding-right: 16px;
  padding-bottom: 8px;
}

.main-content-dropdown-toggle3:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}

.main-content-a-z {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}

.main-content-ul {
  width: 100%;
  padding-left: 0px;
  padding-right: 32px;
  list-style-type: none;
  height: 60vh;
  overflow: scroll;
  padding-top: 55px;
}

.main-content-workspace {
  gap: 32px;
  width: 98%;
  height: auto;
  display: flex;
  padding: 16px;
  position: relative;
  align-self: flex-end;
  transition: 0.3s;
  align-items: center;
  border-radius: 8px;
  flex-direction: row;
  background-color: #fff;
}

.main-content-workspace:hover {
  border: 1px solid grey;
}

.main-content-icon4 {
  width: 50px;
  align-self: center;
  object-fit: cover;
  border-width: 1px;
  border-radius: 8px;
  flex: 0 0 auto;
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: 50%;
  flex-direction: column;
  justify-content: center;
  background-color: #14a9ff;
  font-size: x-large;
  font-weight: bold;
  color: #fff;


}

.main-content-container06 {
  gap: 8px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main-content-timestamps {
  gap: 16px;
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
}

.main-content-workspace:hover .main-content-menu {
  visibility: visible;
}

.main-content-menu:hover {
  background-color: #f2f2f2;
}

.main-content-menu {
  flex: 0 0 auto;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  visibility: hidden;
  color: #363636;
}

.main-content-container07 {
  gap: 8px;
  top: -50px;
  flex: 0 0 auto;
  right: 32px;
  width: 200px;
  display: flex;
  padding: 16px;
  z-index: 100;
  position: absolute;
  box-shadow: 0px 0px 5px 0px rgba(167, 167, 167, 0.5);
  visibility: hidden;
  align-items: flex-start;
  border-radius: 10px;
  flex-direction: column;
  background-color: #fff;
}

.main-content-container07.show {
  visibility: visible;
}

.main-content-container08 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}

.main-content-container09 {
  gap: 5px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}

.main-content-icon5 {
  width: 24px;
  height: 24px;
}

.main-content-hr {
  flex: 0 0 auto;
  width: 100%;
  height: 0.5px;
  display: flex;
  align-items: flex-start;
  background-color: #c7c7c7;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown {
  width: 100px;
  height: 48px;
}

.main-content-text3 {
  font-size: 14px;
  color: #363636;
  font-weight: bold;
}

.main-content-text4 {
  font-size: 13px;
  color: #808080;
}

.main-content-text {
  font-size: 20px;
}

.card-list-container {
  width: 100%;
}

.card-list-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .main-content-container {
    flex-direction: column;
    padding: 15% 5% 0 15%;
  }
}

@media screen and (max-width: 1100px) {
  .main-content-container01 {
    flex-direction: column;
    align-items: flex-start;
    padding-right: 0;
    justify-content: flex-start;
    gap: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .main-content-container05 {
    display: none;
  }
}

.modalContainer {
  height: 100%;
  width: 100%;
  background-color: transparent;
}

.containerInterno {
  width: center;
  height: 100%;
  display: flex;
  margin: 5px;
}

.meet-card {
  border: 1px solid;
  border-radius: 10px;
}

.list-item01 {
  display: flex;
  margin-top: 20px;
  justify-content: flex-start;
}