.tr:hover {
    cursor: pointer;
    background-color: #cfe5ff;
}

.tr:hover td {
    border-left: none;
    border-right: none;
}

.rowNumber {
    padding: 0;
    width: 100px;
    height: 40px;
    border: 1px solid rgb(228, 228, 228);
    text-align: center;
    background-color: #ffffff;
    font-weight: bold;
    font-size: 100%;
    /* Si falla algo, es por position relative. Lo puse para controlar el row-resize */
    position: relative;
}

.rowNumber:hover {
    cursor: pointer;
}

.rowNumber::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 7px;
    cursor: row-resize;
    background-color: transparent
  }
  
  .rowNumber::after:hover {
    cursor: row-resize;
  }

.input {
    border: none;
    height: 100%;
    outline: none;
    box-sizing: border-box;
    border-collapse: collapse;   
}

.titleColumn {
    background-color: rgb(11, 87, 208);
    color: white;
}

.rowSelected {
    background-color: #e6effd;
    border: 1px solid #d5deec;
    border-top: 2px solid rgb(11, 87, 208);
    border-bottom: 2px solid rgb(11, 87, 208);
}