.toggle {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 16px;
}

.toggle .checkbox {
  display: none;
}

.toggle .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2196f3; /* Cambiado el color por defecto a encendido */
  transition: 0.4s;
  border-radius: 34px;
}

.toggle .slider:before {
  position: absolute;
  content: "";
  height: 12px px;
  width: 12px;
  left: 6px; /* Cambiado el valor para que el toggle aparezca encendido */
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
  transform: translateX(
    10px
  ); /* Agregada la transformación para que aparezca encendido */
}

.toggle .checkbox:checked + .slider {
  background-color: #ccc; /* Cambiado el color cuando está apagado */
}

.toggle .checkbox:checked + .slider:before {
  transform: translateX(
    0
  ); /* Cambiada la transformación para cuando está apagado */
}

.breakpoints-container {
  width: 400px;
  height: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border: 1px solid #b2b2b2;
  border-radius: 4px;
  flex-direction: column;
  background-color: #f9f9f9;
  z-index: 100;
  top: 50px;
  left: 200px;
}
.breakpoints-container01 {
  width: 384px;
  display: flex;
  padding: 8px;
  align-items: center;
  border-bottom: 0.5px solid #b2b2b2;
  border-radius: 4px;
  flex-direction: row;
  justify-content: space-between;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.breakpoints-button {
  color: #c4c4c4;
  border-width: 0px;
  background-color: transparent;
}
.breakpoints-button:hover {
  color: #000;
  font-weight: 500;
}
.breakpoints-button:active {
  background-color: #f0f0f0;
}
.breakpoints-container02 {
  flex: 0 0 auto;
  width: 384px;
  height: 24px;
  display: flex;
  padding: 8px;
  align-items: center;
  border-bottom: 0.5px solid #b2b2b2;
  justify-content: space-between;
}
.breakpoints-container03 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.breakpoints-textinput {
  width: 15px;
  height: 15px;
  background-color: transparent;
  border: 0.5px solid #b2b2b2;
  display: flex;
  border-radius: 4px;
  align-items: center;
}
.breakpoints-container04 {
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
}
.breakpoints-icon {
  width: 24px;
  height: 24px;
}
.breakpoints-container05 {
  flex: 0 0 auto;
  width: 384px;
  height: 24px;
  display: flex;
  padding: 8px;
  align-items: center;
  border-bottom: 0.5px solid #b2b2b2;
  justify-content: space-between;
}
.breakpoints-container06 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.breakpoints-textinput1 {
  width: 15px;
  height: 15px;
  background-color: transparent;
  border: 0.5px solid #b2b2b2;
  display: flex;
  border-radius: 4px;
  align-items: center;
}
.breakpoints-container07 {
  gap: 16px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
}
.breakpoints-icon02 {
  width: 24px;
  height: 24px;
}
.breakpoints-container08 {
  flex: 0 0 auto;
  width: 384px;
  height: 24px;
  display: flex;
  padding: 8px;
  align-items: center;
  border-bottom: 0.5px solid #b2b2b2;
  padding-left: 8px;
  justify-content: space-between;
}
.breakpoints-container09 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.breakpoints-textinput2 {
  width: 15px;
  height: 15px;
  background-color: transparent;
  border: 0.5px solid #b2b2b2;
  display: flex;
  border-radius: 4px;
  align-items: center;
}
.breakpoints-container10 {
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
}
.breakpoints-icon04 {
  width: 24px;
  height: 24px;
}
.breakpoints-container11 {
  flex: 0 0 auto;
  width: 384px;
  height: 24px;
  display: flex;
  padding: 8px;
  align-items: center;
  border-bottom: 0.5px solid #b2b2b2;
  padding-left: 8px;
  justify-content: space-between;
}
.breakpoints-container12 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.breakpoints-textinput3 {
  width: 15px;
  height: 15px;
  background-color: transparent;
  border: 0.5px solid #b2b2b2;
  display: flex;
  border-radius: 4px;
  align-items: center;
}
.breakpoints-container13 {
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 32px;
}
.breakpoints-icon06 {
  width: 24px;
  height: 24px;
}
.breakpoints-container14 {
  flex: 0 0 auto;
  width: 384px;
  height: 24px;
  display: flex;
  padding: 8px;
  align-items: center;
  border-bottom: 0.5px solid #b2b2b2;
  padding-left: 8px;
  justify-content: space-between;
}
.breakpoints-container15 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.breakpoints-textinput4 {
  width: 15px;
  height: 15px;
  background-color: transparent;
  border: 0.5px solid #b2b2b2;
  display: flex;
  border-radius: 4px;
  align-items: center;
}
.breakpoints-text10 {
  font-style: italic;
  font-weight: 300;
}
.breakpoints-container16 {
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 32px;
}
.breakpoints-icon08 {
  width: 24px;
  height: 24px;
}
.breakpoints-container17 {
  flex: 0 0 auto;
  width: 384px;
  height: 24px;
  display: flex;
  padding: 8px;
  align-items: center;
  padding-left: 8px;
  justify-content: space-between;
}
.breakpoints-container18 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.breakpoints-textinput5 {
  width: 15px;
  height: 15px;
  background-color: transparent;
  border: 0.5px solid #b2b2b2;
  display: flex;
  border-radius: 4px;
  align-items: center;
}
.breakpoints-container19 {
  gap: 32px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.breakpoints-icon10 {
  width: 24px;
  height: 24px;
}
.breakpoints-container20 {
  gap: 8px;
  flex: 0 0 auto;
  width: 384px;
  height: auto;
  display: flex;
  padding: 8px;
  align-items: center;
}
.breakpoints-container21 {
  flex: 0 0 auto;
  width: 30px;
  height: 16px;
  display: flex;
  align-items: center;
  padding: 2px;
  border-radius: 20px;
  justify-content: flex-end;
  background-color: #0074f0;
}
.breakpoints-container22 {
  flex: 0 0 auto;
  width: 12px;
  height: 12px;
  display: flex;
  align-items: flex-start;
  border-radius: 50%;
  flex-direction: column;
  background-color: #fff;
}
.breakpoints-container23 {
  gap: 8px;
  flex: 0 0 auto;
  width: 384px;
  height: auto;
  display: flex;
  padding: 8px;
  align-items: flex-start;
  justify-content: flex-end;
}
.breakpoints-button1 {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  padding-top: 8px;
  border-color: #000;
  border-style: solid;
  border-width: 0.5px;
  padding-left: 16px;
  border-radius: 4px;
  padding-right: 16px;
  padding-bottom: 8px;
  background-color: transparent;
}
.breakpoints-button1:active {
  color: #e1e1e1;
  border-color: #e1e1e1;
}
.breakpoints-button2 {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  padding-top: 8px;
  border-width: 0px;
  padding-left: 16px;
  border-radius: 4px;
  padding-right: 16px;
  padding-bottom: 8px;
  background-color: #e1e1e1;
}
.breakpoints-button2:disabled {
  color: #e1e1e1;
}
.breakpoints-button2:active {
  background-color: #f1f1f1;
  color: #e1e1e1;
}
.breakpoints-ok-icon {
  fill: #14a9ff;
  width: 15px;
  height: 15px;
}
