.elementsPanelContainer {
  display: flex;
  flex-grow: 1;
  flex-basis: 20%;
  width: 100%;
  height: 102%;
  align-items: flex-start;
  flex-direction: column;
  border-right: 2px solid #939393;
}

.elementsSectionContainer {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  z-index: 30;
  justify-content: center;
  border-bottom: 0.5px solid #f0f0f0;
  background-color: #f9f9f9;
  cursor: default;
}

.elementsSectionText {
  width: 128px;
  text-align: center;
  padding: 8px 0;
  border-bottom: 1px solid;
}