.field-form-field-form {
  gap: 8px;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: #b2b2b2;
  border-style: solid;
  border-width: 0.5px;
  padding-left: 1rem;
  padding-right: 1rem;
  flex-direction: column;
  padding-bottom: 8px;
  justify-content: flex-start;
  align-self: center;
  margin: 20px;
}

.field-form-textinput {
  width: 120px;
  font-style: italic;
  transition: 0.3s;
  padding-top: 3px;
  padding-left: 4rem;
  border: 0.5 solid transparent;
  padding-right: 16px;
  background-color: transparent;
  margin-right: 3px;
}
.field-form-textinput2 {
  width: 120px;
  font-style: italic;
  transition: 0.3s;
  padding-top: 3px;
  padding-left: 5.7rem;
  border: 0.5 solid transparent;
  padding-right: 16px;
  background-color: transparent;
  margin-right: 3px;
}
.editor {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.submit {
  background-color: #848684;
  color: rgb(0, 0, 0);
  transition: background-color 0.3s;
  cursor: pointer;
  border-radius: 4px;
}
.submit:hover {
  background-color: #000000;
  color: #848684;
}

.columna {
  background-color: #848684;
  color: rgb(0, 0, 0);
  border: none;
  padding-top: 3px;
  padding-left: 13.2rem;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}
.columna:hover {
  background-color: #000000;
  color: #848684;
}

.fila {
  background-color: #848684;
  color: rgb(0, 0, 0);
  border: none;
  padding-top: 3px;
  padding-left: 15.2rem;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.fila:hover {
  background-color: #000000;
  color: #848684;
}

.selectType,
.selectOrder {
  width: 120px;
  padding-top: 3px;
  padding-left: 20em;
  font-size: 14px;
  border: 0.5px solid #b2b2b2;
  border-radius: 4px;
  background-color: #fff;
  transition: border-color 0.3s, background-color 0.3s;
}

.selectType:hover,
.selectOrder:hover {
  background-color: #000000;
  color: #848684;
  border-color: #000;
}

.selectType:focus,
.selectOrder:focus {
  outline: none;
  border-color: #858282;
}

.selectType option,
.selectOrder option {
  background-color: #fff;
  color: #000;
  padding: 0;
  margin: 0;
  border: none;
}

.selectType option:hover,
.selectOrder option:hover {
  background-color: #fffafa !important;
  color: #fff !important;
}




@media screen and (max-width: 600px) {
  .field-form-textinput {
    width: 100px;
    padding-left: 2rem;
  }

  .field-form-textinput2 {
    width: 100px;
    padding-left: 3.5rem;
  }

  .columna {
    padding-left: 8rem;
  }

  .fila {
    padding-left: 10rem;
  }

  .selectType,
  .selectOrder {
    width: 100px;
    padding-left: 15em;
  }
}

@media screen and (max-width: 400px) {
  .field-form-textinput {
    width: 80px;
    padding-left: 1.5rem;
  }

  .field-form-textinput2 {
    width: 80px;
    padding-left: 2.7rem;
  }

  .columna {
    padding-left: 5rem;
  }

  .fila {
    padding-left: 7rem;
  }

  .selectType,
  .selectOrder {
    width: 80px;
    padding-left: 10em;
  }
}