.container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  border: 1px solid lightgray;
}

.resizeHandle {
  height: 2px;
  width: 100%;
  cursor: ns-resize;
  background-color: lightgray;
}
 
.content1 {
  width: 100%;
  height: calc(50% - 1px);
}

.content2 {
  width: 100%;
  height: calc(50% - 1px);
}