.paddings-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-bottom: 0.5px solid #f0f0f0;
  border-top-width: 0px;
  /* padding: 5px 0px 5px 10px; */
}

.paddings-component-header {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 4px 6px;
  flex-direction: row;

  justify-content: space-between;
  font-weight: 500;
  &:hover {
    background-color: #f0f0f0;
  }
}

.paddings-title {
  font-size: 12px;
}

.paddings-icon {
  width: 15px;
  &:hover {
    cursor: pointer;
  }
}

.paddings-icon2 {
  width: 8px;
  height: 8px;
  display: none;
}

.paddings-container2 {
  gap: 4px;
  flex: 0 0 auto;
  width: 218px;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: 8px;
  padding-left: 16px;
  padding-right: 16px;
  flex-direction: column;
  padding-bottom: 8px;
  justify-content: flex-start;
}

.paddings-text {
  font-size: 12px;
  align-self: center;
  color: #565656;
  width: 40px;
  text-align: center;
  border: none;
  outline: none;
  background-color: #f9f9f9;
}

.paddings-text:hover {
  border-bottom: 1px solid #00bcd4;
}

.paddings-container3 {
  align-self: center;
  fill: #565656;
}

.paddings-container4 {
  gap: 4px;
  width: 200px;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: space-around;
}
.paddings-medias-container {
  flex: 0 0 auto;
  width: 200px;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.paddings-text1 {
  font-size: 12px;
  color: #565656;
}

.paddings-container5 {
  fill: #565656;
  align-self: center;
}

.paddings-icon4 {
  width: 10px;
  fill: #565656;
  padding: 10px 0px;
}

.paddings-container6 {
  fill: #565656;
  align-self: center;
}

.paddings-text2 {
  font-size: 12px;
  color: #565656;
}

.paddings-container7 {
  align-self: center;
  fill: #565656;
}

.paddings-text3 {
  font-size: 12px;
  align-self: center;
  color: #565656;
}
