.container {
    display: flex;
    justify-content: space-between;
    padding: 2px;
    &:hover {
        background-color: rgb(183, 183, 183);
    }
}

.contextMenu{
    width: 200px;
    position: fixed;
    background-color: white;
    padding: 5px;
    border: 1px solid gray;
}