.container {
    display: grid;
    grid-template-rows: auto auto;
}

.title {
    font-size: 1.5rem;
}

.cardsContainer {
    display: flex;
    flex-direction: column;
}

.filterContainer {
    gap: 1rem;
}

.filtersOff {
    cursor: pointer;
    background-color: transparent;
    padding: 5px;
}

.filtersOff:hover {
    background-color: rgba(128, 128, 128, 0.5);
    border-radius: 50%;
}

.section {
    grid-row: 1/2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pricing {
    display: grid;
}

.select {
    padding: 8px;
    border-bottom: 2px solid rgba(128, 128, 128, 0.5);
    outline: none;
    margin-right: 0;
}

.orderBtn {
    border: 2px solid #cdc;
    border-radius: 4px;
    cursor: pointer;
    padding: 8px;
    gap: 0.2rem;
    align-items: center;
}

.optionsContainers {
    display: flex;
    justify-content: flex-end;
}

.cart {
    color: #551a8b;
    font-size: 1.1rem;
}

.cart:hover {
    color: #14a9ff;
}