.cshHeaderBackgroundBanner {
    color: #1c293b;
    font-weight: 400!important;
    width: 100%;
    font: inherit;
    display: flex;
    flex-direction: row;
    height: auto;
    
}
.divbagrount{
   width: 100%;
   height: 100%; 
   position: relative;
   padding-bottom: 5%;
}
.bagrount{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('https://storage.crisp.chat/users/helpdesk/website/60c4bca58bb99c00/cover_i5qu0s.png');
    background-size: 200% 500%;
    background-position: center;
   
    border: none;
} 
.cshWrapper{
    color: #1c293b;
    font-weight: 400!important;
    padding: 0;
    border: 0;
    font: inherit;
    width: 80%;
    max-width: 940px;
    margin: 0 auto;
    display: block;
    position: relative;
    z-index: 1; 
}

.cshHeaderMain{
    color: #1c293b;
    font-weight: 400!important;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    min-height: 38px;
    margin-bottom: 26px;
    position: relative;
    z-index: 20;
} 
.cshHeaderMainLogo{
    font-weight: 400!important;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    outline: 0!important;
    text-decoration: none;
    cursor: pointer;
    float: left;
}

.cshHeaderMainActions{
    color: #1c293b;
    font-weight: 400!important;
    margin: 20px;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    float: right;
}
 

.cshHeaderMainActionsWebsite{
    font-weight: 400!important;
    margin: 0;
    border: 0;
    font: inherit;
    outline: 0!important;
    text-decoration: none;
    cursor: pointer;
    line-height: 37px;
    letter-spacing: .25px;
    vertical-align: middle;
    height: 38px;
    display: inline-block;
    border-radius: 6px;
    transition: all .15s linear;
    transition-property: background,box-shadow,transform;
    background: rgba(255,255,255,.2);
    color: #fff;
    font-size: 13.5px;
    padding: 0 22px;
}
.cshHeaderMainActionsWebsite:hover{
    background: rgba(255, 255, 255, 0.527);
}

.cshHeaderMainActionsWebsiteItself{
    cursor: pointer;
    letter-spacing: .25px;
    color: #fff;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    font-family: "Crisp Graphik Regular",sans-serif;
    font-weight: 400!important;
    transition: 0.5s;
}
 
.HeaderTitle{
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-family: "Crisp Graphik Medium",sans-serif;
    font-weight: 600!important;
    hyphens: auto;
    overflow-wrap: break-word;
    color: #fff;
    font-size: 23.4px;
    line-height: 25px;
    letter-spacing: .1px;
    margin-bottom: 24px;
    display: block;
    text-align: center;
    translate: 10%;  
    /* compensates bar padding */
}

.cshHeaderSearch{
    color: #1c293b;
    font-weight: 400!important;
    padding: 0;
    border: 0;
    font: inherit;
    margin: 0 auto;
    width: 80%;
    display: block;
    position: relative;
    border-radius: 4px;
    background: red;
}

.cshHeaderSearchField{
    color: #1c293b;
    font-weight: 400!important;
    margin: 0;
    padding: 0;
    font: inherit;
    border: 1px solid rgba(0,0,0,.04);
    display: block;
    position: relative;
    border-radius: 8px;
}

.cshFontSansRegular{ 
    color: #1c293b;
    outline-style: none;
    text-align: center;
    font-family: "Crisp Graphik Regular",sans-serif;
    font-weight: 400!important;
    border-radius: 8px;
    border: 0;
    width: 80%; 
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.08);
    transition: all .1s linear; 
    height: 62px;
    line-height: 62px;
    font-size: 15.75px;
    letter-spacing: -.1px; 
    padding: 0 10%;
    background: #fff;
}

.cshHeaderSearchFieldAutocomplete{
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    font-family: "Crisp Graphik Regular",sans-serif;
    font-weight: 400!important;
    height: 62px;
    line-height: 62px;
    font-size: 15.75px;
    letter-spacing: -.1px;
    color: rgba(28,41,59,.4);
    user-select: none;
    z-index: 1;
    display: none;
}

.cshHeaderSearchFieldRuler{
    color: #1c293b;
    font-weight: 400!important;
    margin: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    height: 62px;
    line-height: 62px;
    font-size: 15.75px;
    letter-spacing: -.1px;
    white-space: pre;
    padding: 0 64px;
    text-align: center;
    visibility: hidden; 
    left: 0;
    right: 0;
}

.cshHeaderSearchFieldRulerText{
    color: #1c293b;
    letter-spacing: -.1px;
    white-space: pre;
    text-align: center;
    visibility: hidden;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    font-family: "Crisp Graphik Semibold",sans-serif;
    font-weight: 800!important;
    display: inline-block;
}

.cshHeaderSearchResults{
    color: #1c293b;
    font-weight: 400!important;
    margin: 0;
    padding: 0;
    font: inherit;
    vertical-align: baseline;
    border: 1px solid rgba(0,0,0,.04);
    margin-top: 9px;
    display: none; 
    top: 100%;
    right: 0;
    left: 0;
    z-index: 10; 
}



