.container-4-done-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  max-width: 1600px;
  align-items: flex-end;
  border-color: #0064FF;
  border-width: 1px;
  flex-direction: row;
  justify-content: space-between;
  background-color: #0064FF;
}
.container-4-done-container01 {
  gap: var(--dl-space-space-fourunits);
  display: flex;
  align-self: center;
  align-items: flex-start;
  padding-top: 0px;
  padding-left: var(--dl-space-space-twounits);
  padding-right: 0px;
  flex-direction: column;
  padding-bottom: 0px;
  justify-content: center;
}
.container-4-done-container02 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.container-4-done-text {
  color: rgb(255, 255, 255);
  height: auto;
  font-size: 20px;
  align-self: flex-start;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.container-4-done-text01 {
  color: rgb(255, 255, 255);
  height: auto;
  font-size: 80px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.container-4-done-text05 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  max-width: 700px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.container-4-done-container03 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.container-4-done-container04 {
  gap: var(--dl-space-space-unit);
  width: 50%;
  display: flex;
  padding: 0px;
  align-items: flex-start;
  border-radius: 25px;
  flex-direction: column;
  justify-content: center;
  background-color: transparent;
}
.container-4-done-container05 {
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: flex-start;
  border-radius: 25px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.container-4-done-icon017 {
  width: 50px;
  height: 50px;
  position: relative;
}
.container-4-done-text07 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.container-4-done-text09 {
  color: rgba(255, 255, 255, 1);
  width: 100%;
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.container-4-done-container06 {
  gap: var(--dl-space-space-unit);
  width: 50%;
  display: flex;
  padding: 0px;
  align-items: flex-start;
  border-radius: 25px;
  flex-direction: column;
  justify-content: center;
  background-color: transparent;
}
.container-4-done-container07 {
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: flex-start;
  border-radius: 25px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.container-4-done-icon0171 {
  width: 50px;
  height: 50px;
  position: relative;
}
.container-4-done-text11 {
  color: rgb(255, 255, 255);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.container-4-done-text12 {
  color: rgba(255, 255, 255, 1);
  width: 100%;
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.container-4-done-container08 {
  flex: 0 0 auto;
  width: 500px;
  height: 700px;
  display: flex;
  position: relative;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  justify-content: flex-start;
  background-color: #F0F7FF;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
.container-4-done-container09 {
  flex: 0 0 auto;
  width: 400px;
  height: 500px;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  background-color: var(--dl-color-gray-500);
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
.container-4-done-container10 {
  top: 116px;
  flex: 0 0 auto;
  left: -78px;
  width: 400px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 500px;
  display: none;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #D9D9D9;
}

@media(max-width: 1200px) {
  .container-4-done-container {
    gap: var(--dl-space-space-sixunits);
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .container-4-done-container01 {
    align-items: center;
    justify-content: center;
  }
  .container-4-done-container02 {
    align-self: center;
  }
  .container-4-done-text {
    align-self: center;
  }
  .container-4-done-text01 {
    text-align: center;
  }
  .container-4-done-text05 {
    text-align: center;
  }
  .container-4-done-container04 {
    align-items: center;
    justify-content: center;
  }
  .container-4-done-text07 {
    text-align: center;
  }
  .container-4-done-text09 {
    text-align: center;
  }
  .container-4-done-container06 {
    align-items: center;
    justify-content: center;
  }
  .container-4-done-text11 {
    text-align: center;
  }
  .container-4-done-text12 {
    text-align: center;
  }
  .container-4-done-container08 {
    display: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .container-4-done-container09 {
    position: static;
  }
  .container-4-done-container10 {
    display: flex;
    position: static;
  }
}
@media(max-width: 479px) {
  .container-4-done-text01 {
    font-size: 50px;
  }
  .container-4-done-container10 {
    width: 310px;
    height: 310px;
  }
}
