:root {
  /* Palette */
  --color-accent-200: #1061b8;
  --color-accent-300: #0074f0;
  --color-accent-400: #0f8fff;
  --color-accent-500: #14a9ff;
  --color-accent-600: #4cc3ff;
  --color-accent-700: #85dcff;

  --color-neutral-1000: #ffffff;
  --color-neutral-950: #ededed;
  --color-neutral-900: #d9d9d9;
  --color-neutral-800: #b2b2b2;
  --color-neutral-700: #999999;
  --color-neutral-600: #808080;
  --color-neutral-500: #595959;
  --color-neutral-400: #454545;
  --color-neutral-300: #363636;
  --color-neutral-200: #262626;
  --color-neutral-100: #121212;

  /* Font settings */
  --font-size-default: 12px;
  --font-size-heading: 14px;
  --font-size-title: 24px;
  --font-size-info: 11px;

  /* Editor colors */
  --ed-menu-bg: var(--color-neutral-300);

  /* SidePanels colors */
  --sp-bg: var(--color-neutral-200);
  --sp-tab-title-act: var(--color-neutral-1000);
  --sp-tab-title-des: var(--color-neutral-700);
  --sp-section-title: var(--color-neutral-900);
  --sp-section-icon: var(--color-neutral-800);
  --sp-section-label: var(--color-neutral-700);
  --sp-section-border: var(--color-neutral-500);

  /* Buttons  */
  --color-btn-bg-default: var(--color-neutral-300);
  --color-btn-bg-hover: var(--color-neutral-400);
  --color-btn-bg-active: var(--color-neutral-200);
  --color-btn-fg-default: var(--color-neutral-900);
  --color-btn-fg-hover: var(--color-neutral-1000);
  --color-btn-fg-active: var(--color-neutral-800);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}