.property-container {
  gap: 4px;
  width: 243px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px;
}

.property-checkinput {
  width: 15px;
  height: 15px;
  background-color: transparent;
}

.property-textinput {
  width: 80px;
  height: 24px;
  font-size: 12px;
  text-align: center;
  border: none;
  border-bottom: 0.5px solid #b2b2b2;
  background-color: transparent;
  outline: none;
}

.property-text {
  align-self: flex-end;
}

.property-add-icon {
  width: 14px;
  transition: 0.3s;
  border-radius: 4px;
  fill: #b2b2b2;
}

.property-add-icon:hover {
  background-color: #f0f0f0;
}

.property-button {
  transition: 0.3s;
  border-color: transparent;
  border-style: solid;
  border-width: 0.5px;
  border-radius: 4px;
  flex-direction: row;
  background-color: transparent;
  padding: 1px;
}

.property-button:hover {
  border-color: #b2b2b2;
  border-radius: 4px;
  background-color: #f0f0f0;
}

.property-discard-icon {
  width: 18px;
  height: 18px;
  transition: 0.3s;
  border-radius: 4px;
  fill: #b2b2b2;
}

.property-input-container {
  gap: 4px;
  display: flex;
  width: 205px;
  align-items: center;
  justify-content: flex-start;
  padding-left: 8px;
  position: relative;
}

.property-suggestions {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  height: 200px;
  overflow-y: scroll;
  background-color: #fefefe;
  z-index: 1;
  border: 1px solid #b2b2b2;
  border-radius: 4px;
  padding: 4px;
  & li {
    padding: 0 5px;
    &:hover {
      cursor: pointer;
      background-color: #b2b2b2;
    }
  }
}

.property-icons-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 16px;
}

.property-error {
  color: red;
  font-size: 12px;
  margin-top: 4px;
}
