.templates-wrapper01 {
/*   margin-top: 32px; */
  width: 100%;
  display: flex;
  flex-direction: column;
}

.templates-topbar01 {
  width: 100%;
  display: flex;
  flex-direction: row;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.templates-title-mockup {
  color: #808080;
  font-size: 16px;
  font-weight: 600;
}


.manage-text-mockup {
  color: #ffff;
}

.template-mockup01 {
  position: relative;
  width: 100%;
  display: grid;
  overflow: hidden;
  grid-template-columns: repeat(100, minmax(180px, 1fr));
/*   gap: 24px 32px;
  margin-top: 10px; */
}
