.elements-container {
  width: 256px;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  top: 35px;
}

.elements-elements-header {
  width: 224px;
  display: flex;
  align-items: center;
  padding: 0px 16px;
  flex-direction: row;
  justify-content: space-between;
  height: 48px
}

.elements-elements-header:hover {
  background-color: #f0f0f0;
  font-weight: 600;
}

.elements-title {
  font-size: 12px;
}

.elements-arrow {
  width: 12px;
  height: 12px;
}

.elements-container01 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-bottom: 0.5px solid #f0f0f0;
  justify-content: flex-start;
}

.elements-container02 {
  position: relative;
  width: 74px;
  height: 74px;
  margin: 4px;
  display: flex;
  flex-flow: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: start;
  overflow: auto;
  cursor: grab;
}

.elements-container03 {
  gap: 4px;
  flex: 0 0 auto;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: flex-start;
  padding-top: 4px;
  border-color: #b2b2b2;
  border-style: solid;
  border-width: 0.5px;
  border-radius: 2px;
  justify-content: center;
}

.elements-container04 {
  flex: 0 0 auto;
  width: 10px;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-radius: 2px;
  flex-direction: column;
  background-color: rgba(120, 120, 120, 0.4);
}

.elements-container05 {
  flex: 0 0 auto;
  width: 10px;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-radius: 2px;
  flex-direction: column;
  background-color: rgba(120, 120, 120, 0.4);
}

.elements-container06 {
  position: relative;
  width: 74px;
  height: 74px;
  margin: 4px;
  display: flex;
  flex-flow: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: start;
  overflow: auto;
  cursor: grab;
}

.elements-container07 {
  gap: 4px;
  flex: 0 0 auto;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: flex-start;
  border-color: #b2b2b2;
  border-style: solid;
  border-width: 0.5px;
  padding-left: 4px;
  border-radius: 2px;
  flex-direction: column;
  justify-content: center;
}

.elements-container08 {
  flex: 0 0 auto;
  width: 10px;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-radius: 2px;
  flex-direction: column;
  background-color: rgba(120, 120, 120, 0.4);
}

.elements-container09 {
  flex: 0 0 auto;
  width: 10px;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-radius: 2px;
  flex-direction: column;
  background-color: rgba(120, 120, 120, 0.4);
}

.elements-container10 {
  position: relative;
  width: 74px;
  height: 74px;
  margin: 4px;
  display: flex;
  flex-flow: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: start;
  overflow: auto;
  cursor: grab;
}

.elements-container11 {
  gap: 4px;
  flex: 0 0 auto;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  border-color: #b2b2b2;
  border-style: solid;
  border-width: 0.5px;
  border-radius: 2px;
  flex-direction: row;
  justify-content: center;
}

.elements-text02 {
  font-size: 6px;
}

.elements-typography-header {
  width: 224px;
  display: flex;
  align-items: center;
  padding: 0px 16px;
  flex-direction: row;
  justify-content: space-between;
  height: 48px
}

.elements-typography-header:hover {
  background-color: #f0f0f0;
  font-weight: 600;
}

.elements-title1 {
  font-size: 12px;
}

.elements-arrow1 {
  width: 12px;
  height: 12px;
}

.elements-container12 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-bottom: 0.5px solid #f0f0f0;
  justify-content: flex-start;
}

.elements-container13 {
  position: relative;
  width: 74px;
  height: 74px;
  margin: 4px;
  display: flex;
  flex-flow: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: start;
  overflow: auto;
  cursor: grab;
}

.elements-container14 {
  gap: 4px;
  flex: 0 0 auto;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.elements-text04 {
  color: #b2b2b2;
  font-size: 20px;
  font-style: normal;
  font-family: Georgia;
  font-weight: 300;
}

.elements-container15 {
  position: relative;
  width: 74px;
  height: 74px;
  margin: 4px;
  display: flex;
  flex-flow: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: start;
  overflow: auto;
  cursor: grab;
}

.elements-container16 {
  gap: 4px;
  flex: 0 0 auto;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.elements-text06 {
  color: #b2b2b2;
  font-size: 20px;
  font-style: normal;
  font-family: Georgia;
  font-weight: 300;
}

.elements-container17 {
  position: relative;
  width: 74px;
  height: 74px;
  margin: 4px;
  display: flex;
  flex-flow: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: start;
  overflow: auto;
  cursor: grab;
}

.elements-container18 {
  gap: 4px;
  flex: 0 0 auto;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.elements-icon02 {
  fill: #b2b2b2;
  width: 18px;
  height: 18px;
  rotate: 90deg;
}

.elements-elements-header1 {
  width: 224px;
  display: flex;
  align-items: center;
  padding: 0px 16px;
  flex-direction: row;
  justify-content: space-between;
  height: 48px;
}

.elements-elements-header1:hover {
  background-color: #f0f0f0;
  font-weight: 600;
}

.elements-title2 {
  font-size: 12px;
}

.elements-arrow2 {
  width: 12px;
  height: 12px;
}

.elements-container19 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-bottom: 0.5px solid #f0f0f0;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.elements-container20 {
  position: relative;
  width: 74px;
  height: 74px;
  margin: 4px;
  display: flex;
  flex-flow: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: start;
  overflow: auto;
  cursor: grab;
}

.elements-icon05 {
  fill: #b2b2b2;
  width: 32px;
  height: 32px;
}

.elements-container21 {
  position: relative;
  width: 74px;
  height: 74px;
  margin: 4px;
  display: flex;
  flex-flow: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: start;
  overflow: auto;
  cursor: grab;
}

.elements-icon07 {
  fill: #b2b2b2;
  width: 30px;
  height: 24px;
  border-color: #b2b2b2;
  border-width: 2px;
  border-radius: 2px;
}

.elements-container22 {
  position: relative;
  width: 74px;
  height: 74px;
  margin: 4px;
  display: flex;
  flex-flow: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: start;
  overflow: auto;
  cursor: grab;
}

.elements-container23 {
  gap: 4px;
  flex: 0 0 auto;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: flex-end;
  border-color: #b2b2b2;
  border-style: solid;
  border-width: 2px;
  border-radius: 2px;
  flex-direction: row;
  justify-content: center;
}

.elements-container24 {
  flex: 0 0 auto;
  width: 28px;
  height: 26px;
  display: flex;
  align-items: flex-end;
  border-color: #b2b2b2;
  border-width: 2px;
  padding-right: 2px;
  flex-direction: column;
  justify-content: space-between;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}

.elements-icon09 {
  fill: rgba(178, 178, 178, 0.8);
  width: 8px;
  height: 8px;
}

.elements-icon11 {
  fill: rgba(178, 178, 178, 0.8);
  width: 8px;
  height: 8px;
}

.elements-container25 {
  position: relative;
  width: 74px;
  height: 74px;
  margin: 4px;
  display: flex;
  flex-flow: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: start;
  overflow: auto;
  cursor: grab;
}

.elements-container26 {
  gap: 4px;
  flex: 0 0 auto;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  border-radius: 2px;
  flex-direction: row;
  justify-content: center;
}

.elements-icon13 {
  fill: #b2b2b2;
  width: 24px;
  height: 24px;
}

.elements-container27 {
  position: relative;
  width: 74px;
  height: 74px;
  margin: 4px;
  display: flex;
  flex-flow: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: start;
  overflow: auto;
  cursor: grab;
}

.elements-container28 {
  flex: 0 0 auto;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  border-color: #b2b2b2;
  border-style: solid;
  border-width: 2px;
  border-radius: 8px;
  flex-direction: row;
  justify-content: center;
}

.elements-icon15 {
  fill: #b2b2b2;
  width: 24px;
  height: 24px;
}

.elements-elements-header2 {
  width: 224px;
  display: flex;
  align-items: center;
  padding: 0px 16px;
  flex-direction: row;
  justify-content: space-between;
  height: 48px;
}

.elements-elements-header2:hover {
  background-color: #f0f0f0;
  font-weight: 600;
}

.elements-title3 {
  font-size: 12px;
}

.elements-arrow3 {
  width: 12px;
  height: 12px;
}

.elements-container29 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-bottom: 0.5px solid #f0f0f0;
  justify-content: flex-start;
}

.elements-container30 {
  position: relative;
  width: 74px;
  height: 74px;
  margin: 4px;
  display: flex;
  flex-flow: column;
  align-items: center;
  -webkit-box-pack: start;
  overflow: auto;
  cursor: grab;
}

.elements-container31 {
  gap: 4px;
  flex: 0 0 auto;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  border-color: #b2b2b2;
  border-style: solid;
  border-width: 2px;
  border-radius: 2px;
  justify-content: center;
}

.elements-icon18 {
  fill: #b2b2b2;
  width: 24px;
  height: 24px;
}

.elements-container32 {
  position: relative;
  width: 74px;
  height: 74px;
  margin: 4px;
  display: flex;
  flex-flow: column;
  align-items: center;
  -webkit-box-pack: start;
  overflow: auto;
  cursor: grab;
}

.elements-container33 {
  gap: 4px;
  flex: 0 0 auto;
  width: auto;
  height: 32px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.elements-container34 {
  flex: 0 0 auto;
  width: 8px;
  height: 8px;
  display: flex;
  align-items: flex-start;
  border-radius: 50%;
  flex-direction: column;
  background-color: #b2b2b2;
}

.elements-container35 {
  flex: 0 0 auto;
  width: 30px;
  height: 8px;
  display: flex;
  align-items: flex-start;
  border-color: #b2b2b2;
  border-width: 1px;
  border-radius: 4px;
  flex-direction: column;
}

.elements-elements-header3 {
  width: 224px;
  display: flex;
  align-items: center;
  padding: 0px 16px;
  flex-direction: row;
  justify-content: space-between;
  height: 48px;
}

.elements-elements-header3:hover {
  background-color: #f0f0f0;
  font-weight: 600;
}

.elements-title4 {
  font-size: 12px;
}

.elements-arrow4 {
  width: 12px;
  height: 12px;
}

.elements-container36 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-bottom: 0.5px solid #f0f0f0;
  justify-content: flex-start;
  flex-wrap: wrap;
  -webkit-box-pack: start;
}

.elements-container37 {
  position: relative;
  width: 74px;
  height: 74px;
  margin: 4px;
  display: flex;
  flex-flow: column;
  align-items: center;
  -webkit-box-pack: start;
  overflow: auto;
  cursor: grab;
}

.elements-container38 {
  gap: 4px;
  flex: 0 0 auto;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  border-radius: 50px;
  flex-direction: column;
  justify-content: center;
}

.elements-container39 {
  flex: 0 0 auto;
  width: 100%;
  height: 8px;
  display: flex;
  align-items: flex-start;
  border-color: #b2b2b2;
  border-style: solid;
  border-width: 2px;
  border-radius: 50px;
}

.elements-container40 {
  flex: 0 0 auto;
  width: 100%;
  height: 8px;
  display: flex;
  align-items: flex-start;
  border-color: #b2b2b2;
  border-style: solid;
  border-width: 2px;
  border-radius: 50px;
}

.elements-container41 {
  flex: 0 0 auto;
  width: 50%;
  height: 2px;
  display: flex;
  align-self: flex-end;
  align-items: flex-start;
  border-color: #b2b2b2;
  border-style: solid;
  border-width: 2px;
  border-radius: 50px;
}

.elements-container42 {
  position: relative;
  width: 74px;
  height: 74px;
  margin: 4px;
  display: flex;
  flex-flow: column;
  align-items: center;
  -webkit-box-pack: start;
  overflow: auto;
  cursor: grab;
}

.elements-container43 {
  width: 50px;
  height: 32px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.elements-container44 {
  flex: 0 0 auto;
  width: 50px;
  height: 16px;
  display: flex;
  align-items: center;
  border-color: #b2b2b2;
  border-width: 1px;
  border-radius: 50px;
  flex-direction: column;
  justify-content: center;
}

.elements-pasted-image {
  width: 35px;
  height: 50%;
}

.elements-container45 {
  position: relative;
  width: 74px;
  height: 74px;
  margin: 4px;
  display: flex;
  flex-flow: column;
  align-items: center;
  -webkit-box-pack: start;
  overflow: auto;
  cursor: grab;
}

.elements-icon21 {
  fill: #b2b2b2;
  width: auto;
  height: 33px;
}

.elements-container46 {
  position: relative;
  width: 74px;
  height: 74px;
  margin: 4px;
  display: flex;
  flex-flow: column;
  align-items: center;
  -webkit-box-pack: start;
  overflow: auto;
  cursor: grab;
}

.elements-container47 {
  width: auto;
  height: 32px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.elements-container48 {
  flex: 0 0 auto;
  width: 50px;
  height: 24px;
  display: flex;
  align-items: center;
  border-color: #b2b2b2;
  border-style: solid;
  border-width: 2px;
  padding-left: 4px;
  border-radius: 4px;
}

.elements-text19 {
  color: #b2b2b2;
  font-family: Georgia;
}

.elements-container49 {
  position: relative;
  width: 74px;
  height: 74px;
  margin: 4px;
  display: flex;
  flex-flow: column;
  align-items: center;
  -webkit-box-pack: start;
  overflow: auto;
  cursor: grab;
}

.elements-container50 {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.elements-container51 {
  flex: 0 0 auto;
  width: 50px;
  height: 40px;
  display: flex;
  align-items: flex-start;
  padding-top: 4px;
  border-color: #b2b2b2;
  border-style: solid;
  border-width: 2px;
  padding-left: 8px;
  border-radius: 4px;
  justify-content: flex-start;
}

.elements-text21 {
  color: #b2b2b2;
  font-family: Georgia;
}

.elements-container52 {
  position: relative;
  width: 74px;
  height: 74px;
  margin: 4px;
  display: flex;
  flex-flow: column;
  align-items: center;
  -webkit-box-pack: start;
  overflow: auto;
  cursor: grab;
}

.elements-container53 {
  width: auto;
  height: 32px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.elements-container54 {
  flex: 0 0 auto;
  width: 20px;
  height: 20px;
  display: flex;
  position: relative;
  align-items: center;
  border-color: #b2b2b2;
  border-style: solid;
  border-width: 2px;
  border-radius: 4px;
  justify-content: flex-end;
}

.elements-icon23 {
  top: 0px;
  fill: #b2b2b2;
  left: -5px;
  width: 28px;
  height: 20px;
  position: absolute;
}

.elements-container55 {
  position: relative;
  width: 74px;
  height: 74px;
  margin: 4px;
  display: flex;
  flex-flow: column;
  align-items: center;
  -webkit-box-pack: start;
  overflow: auto;
  cursor: grab;
}

.elements-container56 {
  width: auto;
  height: 32px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.elements-container57 {
  flex: 0 0 auto;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  border-color: #b2b2b2;
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
  justify-content: center;
}

.elements-container58 {
  flex: 0 0 auto;
  width: 12px;
  border: 3px solid #b2b2b2;
  height: 12px;
  display: flex;
  align-items: center;
  border-radius: 50%;
}

.elements-text24 {
  text-align: center;
}

.elements-container59 {
  position: relative;
  width: 74px;
  height: 74px;
  margin: 4px;
  display: flex;
  flex-flow: column;
  align-items: center;
  -webkit-box-pack: start;
  overflow: auto;
  cursor: grab;
}

.elements-container60 {
  flex: 0 0 auto;
  width: 70px;
  height: 18px;
  display: flex;
  border-color: #b2b2b2;
  border-style: solid;
  border-width: 2px;
  border-radius: 4px;
  justify-content: flex-start;
}

.elements-icon25 {
  fill: #b2b2b2;
  width: 18px;
  height: 100%;
  border-color: #b2b2b2;
  border-width: 2px;
  border-radius: 4px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 0;
}

.elements-elements-header4 {
  width: 224px;
  display: flex;
  align-items: center;
  padding: 0px 16px;
  flex-direction: row;
  justify-content: space-between;
  height: 48px;
}

.elements-elements-header4:hover {
  background-color: #f0f0f0;
  font-weight: 600;
}

.elements-title5 {
  font-size: 12px;
}

.elements-arrow5 {
  width: 12px;
  height: 12px;
}

.elements-container61 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-bottom: 0.5px solid #f0f0f0;
  justify-content: flex-start;
}

.elements-container62 {
  position: relative;
  width: 74px;
  height: 74px;
  margin: 4px;
  display: flex;
  flex-flow: column;
  align-items: center;
  -webkit-box-pack: start;
  overflow: auto;
  cursor: grab;
}

.elements-container63 {
  gap: 4px;
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-end;
  border-radius: 50px;
  flex-direction: column;
  justify-content: center;
}

.elements-container64 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  border-color: #b2b2b2;
  border-style: solid;
  border-width: 2px;
  padding-left: 8px;
  border-radius: 4px;
  padding-right: 8px;
  justify-content: center;
}

.elements-text26 {
  color: #b2b2b2;
  letter-spacing: 1px;
}

.elements-container65 {
  flex: 0 0 auto;
  width: 40px;
  height: 6px;
  display: flex;
  align-items: flex-start;
  border-color: #b2b2b2;
  border-style: solid;
  border-width: 2px;
  border-radius: 50px;
}

.elements-container66 {
  flex: 0 0 auto;
  width: 40px;
  height: 6px;
  display: flex;
  align-items: flex-start;
  border-color: #b2b2b2;
  border-style: solid;
  border-width: 2px;
  border-radius: 50px;
}

.elements-container67 {
  flex: 0 0 auto;
  width: 40px;
  height: 6px;
  display: flex;
  align-items: flex-start;
  border-color: #b2b2b2;
  border-style: solid;
  border-width: 2px;
  border-radius: 50px;
}

.elements-container68 {
  position: relative;
  width: 74px;
  height: 74px;
  margin: 4px;
  display: flex;
  flex-flow: column;
  align-items: center;
  -webkit-box-pack: start;
  overflow: auto;
  cursor: grab;
}

.elements-container69 {
  gap: 16px;
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: 4px;
  border-color: #b2b2b2;
  border-style: solid;
  border-width: 2px;
  padding-left: 8px;
  border-radius: 4px;
  padding-right: 8px;
  padding-bottom: 4px;
  justify-content: space-around;
}

.elements-container70 {
  flex: 0 0 auto;
  width: 12px;
  height: 12px;
  display: flex;
  align-items: center;
  border-radius: 2px;
  background-color: #b2b2b2;
}

.elements-container71 {
  gap: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.elements-container72 {
  flex: 0 0 auto;
  width: 6px;
  height: 6px;
  display: flex;
  align-items: center;
  background-color: #b2b2b2;
}

.elements-container73 {
  flex: 0 0 auto;
  width: 6px;
  height: 6px;
  display: flex;
  align-items: center;
  background-color: #b2b2b2;
}

.elements-container74 {
  flex: 0 0 auto;
  width: 6px;
  height: 6px;
  display: flex;
  align-items: center;
  background-color: #b2b2b2;
}

.elements-texts {
  font-size: 12px;
  text-align: center;
}

.elements-container-svg {
  width: 48px;
  height: 48px;
  overflow: auto;
  background-color: transparent;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}
