.sections-container {
  width: 256px;
  height: 400px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 40px;
}
.sections-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: 15px;
  padding-left: 10px;
  
  flex-direction: column;
  padding-bottom: 8px;
  font-size: 12px;
}
.sections-container2 {
  flex: 0 0 auto;
  width: 235px;
  height: auto;
  display: flex;
  border-radius: 3px;
  align-items: flex-start;
  flex-direction: column;
}
.sections-container2:hover {
  width: 235px;
  border: solid #000 1px;
  color: #000;
}

.sections-cotainer-selected{
  flex: 0 0 auto;
  width: 235px;
  height: auto;
  display: flex;
  color: #fff;
  background-color: #0074f0;
  border-radius: 3px;
  align-items: flex-start;
  flex-direction: column;
}

.sections-text1 {
  width: 190px;
  transition: 0.3s;
  padding-top: 10px;
  padding-left: 20px;
  border-radius: 4px;
  padding-bottom: 10px;
  padding-right: 20px;
  border: 0.5px solid transparent;
 
}
.super-container {
  position: fixed;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  left: 304px;
  top: 58px;
  width: 290px;
  height: 130%;
  padding: 8px;
  border-left: #565656;
  border-radius: 4px;
  background-color: #ffffff;
  z-index: 100;
}
.super-container1 {
  flex: 0 0 auto;
  width: 245px;
  display: flex;
  align-items: center;
  align-self: center;
  padding-top: 8px;
  padding-bottom: 8px;
  justify-content: space-between;
}
.super-icon {
  width: 12px;
  height: 12px;
}
.super-container2 {
  width: 100%;
  height: 550px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  justify-content: flex-start;
  color: #565656;
  padding-top: 16px;
  gap: 8px;
}
.super-image {
  width: 450px;
  height: auto;
  max-width: 250px;
  object-fit: cover;
}
.sections-span {
  color: black;
  padding-bottom: 10px;
}
