.diagramShape {
    display: flex;
    transition: all 0.3s ease; 
    justify-content: space-between;
  } 
  .infoRectangle {
    width: 15rem;
    height: 5rem;
    background-color: rgba(213, 213, 213, 0.7);
    border: 1px solid #000;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 8px 0 8px;
  }
  .logoAythen{
    width: 3rem;
    height: 3rem;
    border-radius: .3rem;
  }
  .iconSlack{
    background-image: url(./icons/slack-new-logo-logo-svgrepo-com.svg);
    background-repeat: no-repeat;
    width: 3rem;
    height: 3rem;
  }
  .iconTrello{
    background-image: url(./icons/trello-logo-svgrepo-com.svg);
    background-repeat: no-repeat;
    width: 3rem;
    height: 3rem;
  }
  .iconGmail{
    background-image: url(./icons/gmail-svgrepo-com.svg);
    background-repeat: no-repeat;
    width: 3rem;
    height: 3rem;
  }
  .iconExcel{
    background-image: url(./icons/excel-svgrepo-com.svg);
    background-repeat: no-repeat;
    width: 3rem;
    height: 3rem;}
  .infoText {
    margin-left: 10px;
  }
  .iconDots{
    background-image: url(./icons/three-dots-svgrepo-com.svg); 
    background-repeat: no-repeat; 
    width: 2rem;
    height: 2rem;
    margin-left: 10px;
    cursor: pointer;
  }
  .opcionesContenedor {
    background: #f4f6f8;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-top: 5px;
  }
  
  .opcion {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  .iconCopy{
    background-image: url(./icons/copy-svgrepo-com.svg);
    background-repeat: no-repeat;
    width: 1rem;
    height: 1rem;
  }
  .iconRename{
    background-image: url(./icons/rename-svgrepo-com.svg);
    background-repeat: no-repeat;
    width: 1rem;
    height: 1rem;
  }
  .iconDelete{
    background-image: url(./icons/delete-2-svgrepo-com.svg);
    background-repeat: no-repeat;
    width: 1rem;
    height: 1rem;
  }
  .dottedLine {
    border-left: 2px dotted #000;
    width: 100%;
    margin: 0 100px 0; 
    height:50px;
  }
  .renameInput {
    width: 100%;
    padding: 5px;
  }
  
  .confirmButton {
    margin-right: 5px;
  }
  
  .cancelButton {
    color: red;
  }