/* .sidePanel{
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 65px);
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: 3;
    -webkit-box-align: stretch;
    align-items: stretch;
    position: relative;
    background-color: rgb(255, 253, 249);
    border-left: 1px solid rgb(215, 213, 210);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 30px 0px;
} */
.panelContainer {
    position: fixed;
    top: 0;
    right: 0;
    width: 33.33%; /* El panel ocupa un tercio de la pantalla */
    height: 100%;
    background-color: #fff;
    box-shadow: -2px 0px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 100;
  }
  
  .closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    background-color: #ccc;
    border: none;
    cursor: pointer;
  }
  .iconGmail{
    background-image: url(./icons/gmail-svgrepo-com.svg);
    background-repeat: no-repeat;
    width: 3rem;
    height: 3rem;
  }
  