.container{
  margin: 1% 0 0 1%;
  width: 20%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
}

.subContainerAndTitles{
  width: 100%;
  padding: 10px;
  background-color: rgb(132,134,132);
  border-radius: 4px;
  color: rgb(212, 212, 212);
}

.font{
  font-weight: 600;
  border-bottom: 2px solid (128, 128, 128, 0.725);
}

.title{
  padding: 5px;
  font-size: 18px;
  font-weight: 700;
  &:hover{
    border-radius: 4px;
    background-color: rgb(229,229,229);
    color: black;
    cursor: pointer;
  }
}

.dateVersions {
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(119,120,119);
  color: rgb(212, 212, 212);
  &:hover{
    background-color: rgb(229,229,229);
    color: black;
    cursor: pointer;
  }
}

p.unsetClass{
  all: unset;
  display: block;
  color: rgb(212, 212, 212);
}

.containerEachVersions{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.dropDownVersions{
  display: flex;
  flex-direction: column;
  gap: 10px;
  
}
/* .versionHistoryContainer {
  display: flex;
  flex-grow: 1;
  flex-basis: 20%;
  justify-content: center;
  background-color: #ffffff;
}

.versionHistoryMenu {
  position: relative;
}

.select {
  width: 300px;
  padding: 5px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.089);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.205);
}

.open .selectedOption .arrow {
  transform: rotate(360deg);
}

.selectedOption {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.versionGrupo {
  margin-top: 12px;
}

.options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 400px;
  overflow-y: auto;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 2px 4px rgb(0, 0, 0);
  border-radius: 4px;
  z-index: 1;
}

.option {
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #33333321;
}

.option:hover {
  background-color: lightgray;
}

.selected {
  background-color: rgb(2, 2, 2);
}

.versionInfo {
  display: flex;
  flex-direction: column;
}

.versionDetails {
  display: flex;
  flex-wrap: wrap;
}

.versionDate,
.versionTime,
.versionAuthor {
  margin-right: 8px;
  font-size: 12px;
  color: #777;
}

.versionDescription {
  margin-top: 4px;
  font-size: 14px; */
  /* color: #333; */
/* }

.search {
  margin-top: 5px;
  margin-bottom: 5px;
}

@media screen and (max-width: 600px) {
  .container {
    flex-direction: column;
    align-items: center;
    padding-left: 3.5rem;
  }

  .select {
    width: 80%;
    height: 80%;
    padding: 1px;
    font-size: 10px;
  }

  .versionDate,
  .versionTime,
  .versionAuthor {
    margin-right: 2%;
    font-size: 12px;
  }

  .versionDescription {
    margin-top: 4px;
    font-size: 14px;
    /* color: #333; */
  /* }
} */

/* @media screen and (max-width: 400px) {

  .container {
    width: 80px;
    padding-left: 10em;
  }
} */
/*
@media screen and (max-width: 320px) {

} */