.container{
  margin: 1% 0 0 1%;
  width: 100%;
  height: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
}

.subContainerAndTitles{
  width: 100%;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  color: rgb(0, 0, 0);
}

.dateTitle{
  font-weight: 600;
  font-size: 17px;
}

.title{
  margin: 0;
  padding: 5px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.searchBar{
  margin: 10px 0;
  padding-bottom: 30px;
  border-bottom: 1px solid rgb(92,169,253);
}

.inputSearch{
  font-size: 17px;
  width: 100%;
  padding: 2px;
  height: 30px;
  border-radius: 5px;
  text-align: center;
  background-color: white;
  &:hover {
    transition: 0.5s ease;
    background-color: rgb(92,169,253);
  }
}

.contenedorDatosVersion{
  display: flex;
  justify-content: center;
  align-items: center;
}

.divArrowDatosMenuDots{
  display: flex;
}

.dateVersions {
  padding: 10px;
  border-radius: 5px;
  width: 60%;
  color: rgb(0, 0, 0);
  text-align: start;
  &:hover{
    transition: background-color 0.5s;
    background-color: #0b57d0;
    color: rgb(255, 255, 255);
    cursor: pointer;
  }
}

.containerEachVersions{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.dropDownVersions{
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-bottom: 1px solid rgb(92,169,253);
  padding-bottom: 5px;
}

.datoDeVersionFecha{
  margin: 0;
  font-weight: 600;
}
.datoDeVersionAutor{
  margin: 0;
  padding-top: 4px;
}
.autorName{
  padding-left: 4px;
}

.Prueba1,
.Prueba{
  margin-top: 30px;
  color: #545454;
  font-size: 15px;
  font-style: normal;
  font-weight: 650;
  line-height: normal;
  cursor: pointer;
}

.Prueba1 {
  margin-top: 50px;
  text-align: center;
}

.iconArrowRight,
.iconPlus,
.iconMenuDots{
  width: 15px;
  color: #545454;
  cursor: pointer;
}

.iconArrowRight{
  width: 25px;
}

.iconPlus{
  width: 13px;
}