.selected-val {
  appearance: none; /* Elimina el estilo nativo del navegador */
  border: none; /* Elimina el borde */
  background-color: transparent; /* Fondo transparente */
  padding: 8px; /* Ajusta el espaciado interno según tus preferencias */
  font-size: 12px; /* Ajusta el tamaño de fuente según tus preferencias */
  color: #4b4b4b; /* Color de texto */
  /* Agrega estilos adicionales según tus preferencias */
  /* box-shadow, border-radius, etc. */
}

/* Opcional: Estilo al pasar el cursor sobre el elemento */
.selected-val:hover {
  appearance: none; /* Elimina el estilo nativo del navegador */
  border: none; /* Elimina el borde */
  background-color: rgba(220, 220, 220, 0.418); /* Fondo transparente */
  padding: 8px; /* Ajusta el espaciado interno según tus preferencias */
  font-size: 12px; /* Ajusta el tamaño de fuente según tus preferencias */
  color: #4b4b4b; /* Color de texto */
  /* Agrega estilos adicionales según tus preferencias */
  /* box-shadow, border-radius, etc. */
}

/* Opcional: Estilo al enfocar el elemento */
.selected-val:focus {
  appearance: none; /* Elimina el estilo nativo del navegador */
  border: none; /* Elimina el borde */
  background-color: transparent; /* Fondo transparente */
  padding: 8px; /* Ajusta el espaciado interno según tus preferencias */
  font-size: 12px; /* Ajusta el tamaño de fuente según tus preferencias */
  color: #4b4b4b; /* Color de texto */
  /* Agrega estilos adicionales según tus preferencias */
  /* box-shadow, border-radius, etc. */
}
