.sidePanelContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  height: auto;
  padding: 20px;
  margin: 1% 3% 0 0;
  border-radius: 5px;
  background-color: rgb(132,134,132);
  user-select: none;
}

.editor {
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 5px;
  color: rgb(212, 212, 212);
  border-bottom: 2px solid #000;
}

.containerButtons{
  width: 100%;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.columnaYFila {
  background-color: rgb(119,120,119);
  color: rgb(212, 212, 212);
  width: 100%;
  padding: 5px 0;
  font-size: 17px;
  cursor: pointer;
  border-radius: 4px;
  &:hover{
    transition: background-color 1s;
    background-color: rgb(229,229,229);
    color: black;
    cursor: pointer;
  }
}

.fieldFormTextinput {
  height: 40px;
  width: 100%;
  padding-left: 20px;
  font-style: italic;
  background-color: transparent;
  margin-right: 3px;
  color: #303030;
  font-size: 17px;
  border-radius: 5px;
  background-color: rgb(212, 212, 212);;
}

.fieldFormContainer {
  width: 90px;
  font-style: italic;
  transition: 0.3s;
  padding-top: 3px;
  padding-left: 4rem;
  border: 0.5 solid transparent;
  padding-right: 16px;
  background-color: transparent;
  margin-right: 3px;
}

.submit {
  background-color: #848684;
  color: rgb(0, 0, 0);
  transition: background-color 0.3s;
  cursor: pointer;
  border-radius: 4px;
}

.submit:hover {
  background-color: #000000;
  color: #848684;
}

.fila {
  background-color: #848684;
  color: rgb(0, 0, 0);
  border: none;
  padding-top: 3px;
  padding-left: 15.2rem;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.fila:hover {
  background-color: #000000;
  color: #848684;
}

.selectType,
.selectOrder {
  width: 90px;
  padding-top: 3px;
  padding-left: 20em;
  font-size: 14px;
  border: 0.5px solid #b2b2b2;
  border-radius: 4px;
  background-color: #fff;
  transition: border-color 0.3s, background-color 0.3s;
}

.selectType:hover,
.selectOrder:hover {
  background-color: #000000;
  color: #848684;
  border-color: #000;
}

.selectType:focus,
.selectOrder:focus {
  outline: none;
  border-color: #858282;
}

.selectType option,
.selectOrder option {
  background-color: #fff;
  color: #000;
  padding: 0;
  margin: 0;
  border: none;
}

.selectType option:hover,
.selectOrder option:hover {
  background-color: #fffafa !important;
  color: #fff !important;
}

@media screen and (max-width: 600px) {
  .field-form-textinput {
    width: 100px;
    padding-left: 2rem;
  }

  .field-form-textinput2 {
    width: 90px;
    padding-left: 3.5rem;
  }

  .columna {
    padding-left: 8rem;
  }

  .fila {
    padding-left: 10rem;
  }

  .selectType,
  .selectOrder {
    width: 90px;
    padding-left: 15em;
  }
}

@media screen and (max-width: 400px) {
  .fieldFormTextinput {
    width: 70px;
    padding-left: 1.5rem;
  }

  .fieldFormTextinput2 {
    width: 70px;
    padding-left: 2.7rem;
  }

  .columna {
    padding-left: 5rem;
  }

  .fila {
    padding-left: 7rem;
  }

  .selectType,
  .selectOrder {
    width: 70px;
    padding-left: 10em;
  }
}

@media screen and (max-width: 320px) {

  .fieldFormTextinput,
  .columna,
  .fila,
  .selectType,
  .selectOrder {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-right: 0;
  }
}