.integrations-settings-container {
  gap: 16px;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  padding-bottom: 32px;
}

.integrations-settings-hosting-container {
  gap: 16px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.integrations-settings-heading-host {
  font-size: 14px;
  font-family: Roboto;
}

.integrations-settings-vervel-text {
  font-size: 14px;
  font-family: Roboto;
}

.integrations-settings-container1 {
  width: 100%;
  min-height: 170px;
  border: 1px solid #f2f2f2;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding-left: 16px;
  border-radius: 8px;
  box-shadow: rgb(0 0 0 / 5%) 0px 1px 8px;
  background-image: url(https://play.teleporthq.io/static/img/dashboard/first-project.png);
  background-repeat: no-repeat;
  background-position: right center;
}

.integrations-settings-container2 {
  display: flex;
  flex-direction: column;
  padding: 32px;
}

.integrations-settings-heading-vercel {
  font-size: 20px;
  font-family: Roboto;
}

.integrations-settings-text {
  width: auto;
  font-size: 16px;
  font-family: Roboto;
}

.integrations-settings-integration-container {
  gap: 8px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.integrations-settings-heading-other {
  font-size: 14px;
  font-family: Roboto;
}

.integrations-settings-int-text1 {
  font-size: 14px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 700;
}

.integrations-settings-text-container {
  gap: 8px;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.integrations-settings-int-text2 {
  font-size: 14px;
  font-family: Roboto;
}

.integrations-settings-int-text21 {
  font-size: 14px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 400;
  text-decoration: underline;
}

.integrations-settings-token {
  background-color: #ffffff00;
  width: 100%;
  outline: none;
  border: 0.5px solid #c0c0c0;
  border-radius: 4px;
  height: 32px;
  padding: 0px 16px;
}

.integrations-settings-save-button {
  color: #454545;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  padding-top: 5px;
  border-width: 0px;
  padding-left: 16px;
  border-radius: 2px;
  padding-right: 16px;
  padding-bottom: 5px;
  background-color: #b2b2b275;
}

.b-input-grey{
  border: 0.5px solid #c0c0c0 !important;
}
.b-input-grey:active, .b-input-grey:focus{
  border: 0.5px solid #14a9ff !important;
}