.color-token-color-token {
  flex: 0 0 auto;
  width: 32px;
  height: 32px;
  display: flex;
  position: relative;
  align-items: flex-start;
  border-radius: 4px;
  flex-direction: column;
  border: 0.5px solid #d4d4d4;
}
.color-token-container {
  width: 32px;
  height: 32px;
  display: none;
  position: relative;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.color-token-icon {
  top: -2px;
  fill: #fff;
  right: -2px;
  width: 8px;
  height: 8px;
  position: absolute;
}
.color-token-name {
  color: #fff;
  font-size: 8px;
  align-self: center;
}
