.color-group-color-group {
  border: 1px solid #d4d4d4;
}
.color-token-name-static {
  font-size: 9px;
  align-self: center;
}
.color-token-name-staticB {
  font-size: 9px;
  align-self: center;
}

.pt-bton {
  color: #b2b2b2;
  border: 1px solid #4b4b4b2d;
  border-radius: 5px;
  width: 32px;
  height: 32px;
}
.pt-bton:hover {
  border: 1px solid #363636;
}
.pt-iconx {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
}
.color-group-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}
.color-group-text {
  margin-top: 8px;
  margin-left: 8px;
}
.color-group-icon {
  width: 24px;
  height: 24px;
  margin: 8px;
  rotate: 90deg;
}
.color-group-icon:hover {
  width: 24px;
  height: 24px;
  margin: 8px;
  rotate: 90deg;
  background-color: #36363653;
  border-radius: 4px;
}
.color-group-menu {
  gap: 8px;
  flex: 0 0 auto;
  right: 0px;
  width: 120px;
  bottom: -69px;
  display: none;
  position: absolute;
  box-shadow: 0px 5px 10px 0px #d4d4d4;
  align-items: flex-start;
  padding-top: 8px;
  padding-left: 16px;
  border-radius: 8px;
  flex-direction: column;
  padding-bottom: 8px;
  background-color: #f9f9f9;
}
.color-group-container1 {
  padding: 8px 12px;
  width: auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}
.color-group-color-token {
  flex: 0 0 auto;
  width: 32px;
  height: 32px;
  display: flex;
  position: relative;
  align-items: flex-start;
  border-radius: 4px;
  flex-direction: column;
  background-color: #003eb3;
}
.color-group-container2 {
  flex: 0 0 auto;
  width: 32px;
  height: 32px;
  display: none;
  position: relative;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.color-group-container2:hover {
  display: flex;
}
.color-group-icon2 {
  top: -2px;
  fill: #fff;
  right: -2px;
  width: 8px;
  height: 8px;
  position: absolute;
}
.color-group-name {
  color: #fff;
  font-size: 8px;
  align-self: center;
}
.color-group-container3 {
  flex: 0 0 auto;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  border-color: #000;
  border-style: solid;
  border-width: 0.5px;
  border-radius: 4px;
  flex-direction: column;
  justify-content: center;
}
.color-group-icon4 {
  width: 24px;
  height: 24px;
}
