.container {
  height: 100%;
  width: 100%;
}

.codeMirrorContainer {
  height: calc(100% - 30px);
  width: 100%;
}

.options{
  height: 30px;
  display: flex;
}

.buttonConnect{
  margin: auto 20px;
  height: 20px;
  cursor: pointer;
  border: 1px solid #0f8fff;
  border-radius: 5px;
  background-color: white;
}