.panel-dropdown {
  position: fixed;
  background: #ffffff;
  display: block;
  right: 0px;
  top: 58px;
  width: 320px;
  z-index: 200;
  box-shadow: #1212124d 0px 2px 16px 8px;
  padding: 16px;
}
.section {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
  text-rendering: geometricprecision;
  border-width: 0px;
  border-style: solid;
}

.options-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 12px;
  column-gap: 10px;
  margin-top: 16px;
}

.framework-icon-container {
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
}
.pt-icon-code-export {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
}
.pt-icon-code-export > svg {
  fill: currentcolor;
  width: 32px;
  height: 32px;
}

.framework-title {
  color: black;
  font-size: 12px;
  margin-top: 3px;
}

.project-button.jsx-2098588358 .experimental-icon.jsx-2098588358 {
  position: absolute;
  top: -6px;
  right: -3px;
}
section {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-top: 8px;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.section-b {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-top: 8px;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.pt-inline {
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  margin-top: -8px;
  margin-left: -8px;
  flex-wrap: nowrap;
}
.pt-btn-transparent {
  color: white;
  background-color: transparent;
}

.separator {
  height: 25px;
  border-left: 1px solid gray;
}
.pt-icon {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
}
.pt-icon.jsx-588734808 > svg:not([class*="stroke"]) {
  fill: currentcolor;
}

.pt-icon.jsx-588734808 > svg {
  width: 24px;
  height: 24px;
}
.pt-inline > * {
  margin-left: 8px !important;
  margin-top: 8px !important;
}

.dividder {
  background: #121212;
  height: 1px;
  margin-left: -12px;
  margin-right: -12px;
}

.grid-container {
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.project-button {
  width: 100%;
  height: 64px;
  gap: 3px;
  border-radius: 5px;
  background: #c4c4c469;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: 0px 10px 13px -7px hsla(0, 0%, 0%, 0.13),
    0px 6px 50px -8px rgba(156, 156, 156, 0.46);
  box-shadow: 0px 10px 13px -7px hsla(0, 0%, 0%, 0.13),
    0px 6px 50px -8px rgba(156, 156, 156, 0.46);
  transition: all 0.1s ease-in-out;
}
.project-button:hover {
  background: #d6d6d6;
  transition: 0.35s;
  -webkit-box-shadow: 0px 10px 13px -7px hsla(0, 0%, 0%, 0.55),
    0px 6px 50px -8px rgba(156, 156, 156, 0.46);
  box-shadow: 0px 10px 13px -7px hsla(0, 0%, 0%, 0.55),
    0px 6px 50px -8px rgba(156, 156, 156, 0.46);
  cursor: pointer;
}
.project-button:focus {
  background: #dbdbdb;
  -webkit-box-shadow: inset 0px 5px 50px -5px hsla(0, 0%, 0%, 0.25),
    0px 6px 50px -8px rgba(156, 156, 156, 0.46);
  box-shadow: inset 0px 5px 50px -5px hsla(0, 0%, 0%, 0.25),
    0px 6px 50px -8px rgba(156, 156, 156, 0.46);
  transform: scale(0.95);
}
