.popmenu-submenu-item {
  width: 250px;
  display: flex;
  height: 21px;
  display: flex;
  align-items: center;
  padding: 0px 16px;
  /* justify-content: flex-start; */
  background-color: #fff;
  z-index: 1;
  gap: 8px;
  /* font-size: 12px; */
}

.popmenu-submenu-item:hover {
  background-color: #bcbcbc;
  cursor: pointer;
}

.popmenu-submenu-item-icon {
  width: 13px;
  height: 13px;
  fill: #212324;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
